{% extends "layouts/main.html" %}

{% set pageName="Have you contacted your current delivery partner and lead provider about the change?
" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">It may take a few weeks for a change in provider to show on this service.</p>
    
    <form method="post">
    
      {{ govukRadios({
        name: "notified[deliveryAndLeadProvider]",
        value: data.notified.deliveryAndLeadProvider,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          },
          {
            value: "I don't know",
            text: "I don't know"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>    
  </div>
</div>

{% endblock %}


