{% extends "layouts/main.html" %}

{% set pageName="Which academic year do you want to change delivery partner for?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {# <p class="govuk-body"><span class="govuk-!-font-weight-bold">👇 FAO ROB - I reused content from change LP journey as placeholeder 👇</span><br><br>It can take around 2 weeks for a change by a lead provider to show on this service.</p> #}
    
    <form method="post">
    
      {{ govukRadios({
        name: "[pickAcademicYear]",
        value: data.pickAcademicYear,
        items: [
          {
            value: "2023 to 2024",
            text: "2023 to 2024"
          },
          {
            value: "2022 to 2023",
            text: "2022 to 2023"
          },
          {
            value: "2021 to 2022",
            text: "2021 to 2022"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>    
  </div>
</div>

{% endblock %}


