{% extends "layouts/main.html" %}

{% set pageName="Who's your new delivery partner?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">We only show you delivery partners who work with your current lead provider and are available for the academic year you chose.</p>
    
    <form method="post">
    
      {{ govukRadios({
        name: "notified[deliveryAndLeadProvider]",
        value: data.pick.newDeliveryPartner,
        items: [
          {
            value: "Beatty-Mayert",
            text: "Beatty-Mayert"
          },
          {
            value: "Borer-Wintheiser",
            text: "Borer-Wintheiser"
          },
          {
            value: "Brakus-Turcotte",
            text: "Brakus-Turcotte"
          },
          {
            value: "Connelly-Marquardt",
            text: "Connelly-Marquardt"
          },
          {
            value: "D'Amore, Blick and O'Hara",
            text: "D'Amore, Blick and O'Hara"
          },
          {
            value: "Krajcik-Bradtke",
            text: "Krajcik-Bradtke"
          },
          {
            value: "Labadie, Abshire and Ullrich",
            text: "Labadie, Abshire and Ullrich"
          },
          {
            value: "O'Reilly, Dooley and Crona",
            text: "O'Reilly, Dooley and Crona"
          },
          {
            value: "Wiltshire schools alliance",
            text: "Wiltshire schools alliance"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>    
  </div>
</div>

{% endblock %}


