{% extends "layouts/main.html" %}

{% set pageName="Who's your new delivery partner?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">We only show you delivery partners who work with your current lead provider and are available for the academic year you chose.</p>

    {{ govukTable({
      caption: "Current details",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      
      rows: [
        [
          {
            text: "Lead provider"
          },
          {
            html: data['provider']
          }
        ],
        [
          {
            text: "Academic year"
          },
          {
            html: data['pickAcademicYear']
          }
        ]
      ]
    }) }}
    
    
    {% include "_includes/delivery-partner-radios.njk" %}
    
  </div>
</div>

{% endblock %}


