{% extends "layouts/main.html" %}

{% set pageName="These are your options for new delivery partner" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body"><span class="govuk-!-font-weight-bold">👇 FAO ROB - I reused content from change LP journey as placeholeder 👇</span><br><br>Bit of info to tell inform users that DPs work with specific LP's so it's not possible to 'swap' to just any other provider. They also might not be available for certain cohorts.<br><br><span class="govuk-!-font-weight-bold">👇Placeholder DPs -  will be dynamic based on ac/yr and current LP👇</span></p>
    
    <form method="post">
    
      {{ govukRadios({
        name: "notified[deliveryAndLeadProvider]",
        value: data.pick.newDeliveryPartner,
        items: [
          {
            value: "Beatty-Mayert",
            text: "Beatty-Mayert"
          },
          {
            value: "Borer-Wintheiser",
            text: "Borer-Wintheiser"
          },
          {
            value: "Brakus-Turcotte",
            text: "Brakus-Turcotte"
          },
          {
            value: "Connelly-Marquardt",
            text: "Connelly-Marquardt"
          },
          {
            value: "D'Amore, Blick and O'Hara",
            text: "D'Amore, Blick and O'Hara"
          },
          {
            value: "Krajcik-Bradtke",
            text: "Krajcik-Bradtke"
          },
          {
            value: "Labadie, Abshire and Ullrich",
            text: "Labadie, Abshire and Ullrich"
          },
          {
            value: "O'Reilly, Dooley and Crona",
            text: "O'Reilly, Dooley and Crona"
          },
          {
            value: "Wiltshire schools alliance",
            text: "Wiltshire schools alliance"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>    
  </div>
</div>

{% endblock %}


