{% extends "layouts/main.html" %}

{% set pageName="You need to contact your current and new training providers" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">If you haven't done so already you need to contact and agree the change with your current and new training providers.</p>
    <p class="govuk-body">Some lead providers prefer schools to contact the delivery partner first</p>

    {# <ul class="govuk-list govuk-list--bullet">
      <li>wait for the update to happen</li>
      <li>contact your training provider again after a few weeks</li>
    </ul> #}


    <p class="govuk-body"><a href="/home" class="govuk-link">Return to Manage your training</a></p>
  </div>
</div>    



{% endblock %}


