{% extends "layouts/main.html" %}

{% set pageName="Contact support" %}
{% set currentSection="ects" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/early-career-teachers/" + id}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">Complete this form to request a change to {{ teacher.name }}’s registered training provider.</p>

    <p class="govuk-body">We’ll automatically include these details for you: </p>

    {% set schoolHtml %}
      Plymouth Primary School <br>
      <span class="app-id">URN 85646573</span>
    {% endset %}

    {% set teacherHtml %}
      {{ teacher.name }}
    {% endset %}


    {{ govukSummaryList({
    rows: [
      {
        key: { text: "School"},
        value: { html: schoolHtml }
      },
      {
        key: { text: "Teacher" },
        value: { html: teacherHtml }
      }
    ]
    }) }}

    <form action="/support-contacted"" method="post">

    <p class="govuk-body">Tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>which training provider they’ll work with instead</li>
      <li>the date they’ll start training with the new provider</li>
      <li>the reason for this change</li>
    </ul>

      {{ govukTextarea({
        name: "additionalInformation",
        label: {
          text: "Your message",
          classes: "govuk-label--s"
        }

      }) }}

      {{ govukButton({ text: "Send message to support" }) }}
    </form>

  </div>
</div>

{% endblock %}
