{% from "../../../components/secondary-nav/macro.njk" import appSecondaryNav %}

{{ appSecondaryNav({
  classes: "govuk-!-margin-top-1 govuk-!-padding-bottom-0",
  items: [
    {
      text: "Details",
      href: "/admin/ects/show",
      selected: (currentSubSection == "details")
    },
    {
      text: "Training",
      href: "/admin/ects/training",
      selected: (currentSubSection == "training")
    },
    {
      text: "Declarations",
      href: "/admin/ects/declarations",
      selected: (currentSubSection == "declarations")
    },
    {
      text: "Audit log",
      href: "/admin/ects/audit-log",
      selected: (currentSubSection == "audit-log")
    }
  ]
 }) }}
