{{ xGovukSecondaryNavigation({
  classes: "govuk-!-margin-top-1 govuk-!-padding-bottom-0",
  visuallyHiddenTitle: "Secondary menu",  
  items: [
    {
      text: "Details",
      href: "/admin/ects/show",
      current: (currentSubSection == "details")
    },
    {
      text: "Training",
      href: "/admin/ects/training",
      current: (currentSubSection == "training")
    },
    {
      text: "Declarations",
      href: "/admin/ects/declarations",
      current: (currentSubSection == "declarations")
    },
    {
      text: "Audit log",
      href: "/admin/ects/audit-log",
      current: (currentSubSection == "audit-log")
    }
  ]
 }) }}
