{% extends "layouts/admin.html" %}

{% set pageName="Rosa Davenport" %}
{% set currentSection="ects" %}
{% set currentSubSection="declarations" %}

{% block beforeContent %}
  
  {{ govukBreadcrumbs({
    classes: "govuk-!-margin-bottom-9",
    items: [
      { text: "Schools", href: "/admin/schools" },
      { text: "Plymouth Primary School", href: "/admin/schools/show" }
    ]
  }) }}
  
  <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ pageName }}</h1>
  
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><span class="govuk-body govuk-!-font-weight-bold">TRN: </span>2174756</p>
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-3"><span class="govuk-body govuk-!-font-weight-bold">Cohort: </span>2023</p>
  
  {% include "admin/ects/_secondary-nav" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      <p>TODO</p>
  </div>
</div>

{% endblock %}
