{% extends "layouts/admin.html" %}

{% set pageName="Rosa Davenport" %}
{% set currentSection="ects" %}
{% set currentSubSection="details" %}

{% block beforeContent %}
  
  {{ govukBreadcrumbs({
    classes: "govuk-!-margin-bottom-9",
    items: [
      { text: "Schools", href: "/admin/schools" },
      { text: "Plymouth Primary School", href: "/admin/schools/show" }
    ]
  }) }}
  
  <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ pageName }}</h1>
  
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1"><span class="govuk-body govuk-!-font-weight-bold">TRN: </span>2174756</p>
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-3"><span class="govuk-body govuk-!-font-weight-bold">Cohort: </span>2023</p>
  
  {% include "admin/ects/_secondary-nav" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Rosa Davenport"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: "rosa.davenport@plymouth.sch.uk"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "16 August 1987"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "TRN"
          },
          value: {
            text: "8624532"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "National insurance number"
          },
          value: {
            text: "Not entered"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Matched with DQT"
          },
          value: {
            html: '<span class="govuk-tag govuk-tag--green">Matched</span>'
          }
        },
        {
          key: {
            html: "Induction start date"
          },
          value: {
            html: '14 September 2022'
          }
        },
        {
          key: {
            text: "Added to the service"
          },
          value: {
            html: '13 June 2022, 11:31 am'
          }
        },
        {
          key: {
            text: "Notes"
          },
          value: {
            html: "No notes"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add notes"
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
