{% extends "layouts/reg.html" %}

{% set title %}
You've submitted your training information
{% endset %}

{% block pageTitle %}
  {{ title }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ title }}</h1>
      <div class="govuk-panel__body">
        You still need to appoint an appropriate body<br><strong class="govuk-!-font-size-24">Academic year 2024 to 2025</strong>
      </div>
    </div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We'll let your current training providers about the changes for the 2024 to 2025 academic year.</p>

    <h2 class="govuk-heading-m">What to do next</h2>

    <p class="govuk-body">As soon as possible, use this service to tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if data['programme-choice'] === 'core_induction_programme' %}
      <li>choose the DfE-accredited materials you want to use</li>
      {% endif %}
      <li>who your <a href="https://www.gov.uk/government/publications/statutory-teacher-induction-appropriate-bodies/find-an-appropriate-body" class="govuk-link">appropriate body</a> is, once you've checked their details</li>
      <li>details of new <a href="../signed-in/ects" class="govuk-link">ECTs</a> and <a href="../signed-in/mentors" class="govuk-link">mentors</a></li>
      <li>which mentor has been assigned to each ECT</li>
    </ul>
    <p class="govuk-body"><a href="../signed-in/home" class="govuk-link">Return to manage your training</a></p>

  </div>
</div>
{% endblock %}