
.app-primary-navigation--smaller-borders .x-govuk-primary-navigation__list {
  left: 0;
}

.app-primary-navigation--smaller-borders .x-govuk-primary-navigation__item {
  padding-left: 0;
  padding-right: 0;
  margin-right: 30px;
  height: 55px;
}

.app-primary-navigation--smaller-borders .x-govuk-primary-navigation__link {
  line-height: 55px;
}
