//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "filter";
@import "summary-list";
@import "link";
@import "header";
@import "_phase-banner";
@import "_primary-navigation";
@import "_table";
@import "_width-container";

@import "components/_hidden";
@import "components/_action-bar";
@import "components/_filter-layout";
@import "components/_filter-panel";
@import "components/_list";



.app-id {
  color: $govuk-secondary-text-colour;
}

.app-user-input-example {
  padding: 4px 8px;
  background-color: govuk-colour("light-grey");
}
