// Filter component
//
// Used for filtering a set of search results
.app-filter {
  border-color: govuk-colour("light-grey");
  border-width: 4px;
  border-style: solid;
  padding: 20px;
  margin-bottom: 20px;
}
