.app-header--full-width-blue-border {
  border-bottom-width: 0;
}

.app-header--full-width-blue-border:after {
  content: '';
  width: 100%;
  display: block;
  height: 10px;
  background-color:  govuk-colour("blue");
}

.app-header--wide .govuk-width-container {
  @media (min-width: 1280px) {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}
