// Missing information within a summary list
//
// This draws attention to missing information by adding some content
// with a heading, and indenting it with a blue border.
.app-summary-list__missing {
  border-left: 10px solid govuk-colour("blue");
  padding-left: 15px;
}

.app-summary-list__missing-heading {
  margin-bottom: 10px;
}


.summary-list-container {
  border: 1px solid #b1b4b6;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
}

.summary-list-container__context {
  border-bottom: 1px solid #b1b4b6;
}
