# Node.js ignores
node_modules/

# Prototype ignores - per-user
.tmp/
.env
migrate.log
usage-data-config.json

# General ignores
.DS_Store
.idea

# Ignore Node version config
# (allows people to use different versions of Node)
.nvmrc
