{% extends "layouts/main.html" %}

{% set pageName="What’s this mentor’s full name?" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/mentors/add/what-we-need"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>

    <form action="/mentors/add/trn" method="post">
      {{ govukInput({
        name: "name",
        id: "name",
        value: data.name,
        label: {
          text: pageName,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "We just need their first name and last name, not titles like Mr, Mrs, Dr."
        }

      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
