<nav class="app-secondary-nav {{ params.classes }}" aria-label="Sub navigation">
  <ul class="app-secondary-nav__list">
    {% for item in params.items %}
      <li class="app-secondary-nav__list-item {{ "app-secondary-nav__list-item--selected" if item.selected }}">
        <a class="govuk-link app-secondary-nav__link govuk-link--no-visited-state" href="{{ item.href }}">
          {{ item.text }}
          {% if item.selected %}
            <span class="govuk-visually-hidden">Current page</span>
          {% endif %}
      </a>
      </li>
    {% endfor %}
  </ul>
</nav>
