{% extends "layouts/admin.html" %}

{% set pageName="Email schedule" %}
{% set currentSection="performance" %}
{% set currentSubSection="emails" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl"> {{ pageName }}</h1>

    {% include "admin/performance/_secondary-nav" %} 
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Upcoming emails</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Email subject</th>
          <th scope="col" class="govuk-table__header">Date scheduled</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for email in upcomingEmails %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="/admin/performance/emails/{{ email.id }} " class="govuk-link">{{ emailTypes[email.type].subject }}</a></th>
          <td class="govuk-table__cell">{{ email.date | isoDateFromDateInput | govukDate }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    {{ govukButton({ text: "Schedule an email", href: "/admin/performance/emails/new", classes: "govuk-button--secondary" }) }}


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Recently sent emails</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Email subject</th>
          <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date sent</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 100px;">Sent to</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for email in sentEmails %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a href="/admin/performance/emails/{{ email.id }} " class="govuk-link">{{ emailTypes[email.type].subject }}</a></th>
          <td class="govuk-table__cell">
            {% set daysAgo = (email.date | isoDateFromDateInput | daysAgo) %}
            {% if daysAgo <= 1 %}Today{% else %}{{ email.date | isoDateFromDateInput | govukDate }}{% endif %}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{% if email.sentTo %}{{ email.sentTo | numberFormat }}{% else %}Sending{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
