{% extends "layouts/admin.html" %}

{% set pageName="Filter schools" %}
{% set currentSection="schools" %}
{% set currentSubSection="filters" %}

{% set filters = req.session.data.filters %}


{% block beforeContent %}
{% endblock %}
 
{% block content %}

<div class="moj-page-header-actions">

  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-xl">{{ pageName }} ({{pagination.totalCount}})</h1>
  </div>


  <div class="moj-page-header-actions__actions">

    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">

        <a href="/admin/extract.html" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action" data-module="govuk-button">Download results</a>

      </div>
    </div>

  </div>

</div>

{% include "admin/schools/_secondary-nav" %}

  {{data.schools | log}}

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>


      {% if data.schools.length %}
        <div class="school-list">
          {% for school in schools %}
            <div class="school-list__item">
              <h2 class="govuk-heading-s">
                <a href="/admin/schools/{{ school.id }}">
                  {{ school.name }}
                </a>
              </h2>

              
              {{ govukTag({
                text: school.schoolType,
                classes: "govuk-tag-programme",
                classes: school.schoolType | statusColour 
              }) }}

              {{ govukSummaryList({
                classes: "govuk-summary-list--no-border govuk-summary-list-schools",
                rows: [
                  {
                    key: {
                      text: "URN"
                    },
                    value: {
                      text: school.id
                    }
                  },
                  {
                    key: {
                      text: "Induction tutor email"
                    },
                    value: {
                      text: school.inductionTutorEmail
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% include "_includes/pagination.njk" %}


    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}