{% extends "layouts/admin.html" %}

{% set pageName="Schools" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  {{data.schools | log}}

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">


      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% if data.schools.length %}
        <div class="school-list">
          {% for school in data.schools %}
            <div class="school-list__item">
              <h2 class="govuk-heading-s">
                <a href="/admin/{{school.id}}">
                  {{school.details.name}}
                </a>
              </h2>

              {{ govukTag({
                text: school.status,
                classes: "govuk-tag--grey"
              }) }}

              {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: [
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: school.details.emailAddress
                    }
                  },
                  {
                    key: {
                      text: "Phone Number"
                    },
                    value: {
                      text: school.details.phoneNumber
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}


    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}