{% extends "layouts/signed-in-home.html" %}

{% set title="How to change the lead provider for John Smith" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">You need to contact John Smith's current and new lead providers to <a href="https://www.gov.uk/guidance/how-to-manage-early-career-teacher-training#change-lead-provider" target="_blank" class="govuk-link govuk-link--no-visited-state">change the lead provider (opens in a new window or tab)</a>.</p>

    <p class="govuk-body">The new provider will then report the change to us.</p>

    <h2 class="govuk-heading-m">If you've already contacted the providers</h2>
    <p>If you contacted the current and new lead provider more than 2 weeks ago, and the change has still not been made, <a href="already-contacted-lead-provider" class="govuk-link govuk-link--no-visited-state">contact us</a>.</p>

  </div>
</div>      


{% endblock %}


