{% extends "layouts/main.html" %}

{% set pageName="Support request guidance" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>

{{ govukButton({
  text: "Continue",
  href: "change-lead-provider"
}) }}

{% endblock %}


