{% extends "layouts/start.html" %}

{% block pageTitle %}
  Manage training for early career teachers – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage training for early career teachers</h1>

    <p class="govuk-body">Use this service to set up ECF-based training for your early career teachers (ECTs) or tell us about a change at your school.</p>

    <h2 class="govuk-heading-m">Set up and manage your training</h2>

    <p class="govuk-body">Tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you want to run your training</li>
      <li>which accredited materials or training provider you’ll use</li>
      <li>which ECTs and mentors will take part</li>
    </ul>

    <p class="govuk-body">Your school must complete these steps before your ECTs can start their statutory induction programme.</p>

    <h2 class="govuk-heading-m">Tell us about changes at your school</h2>

    <p class="govuk-body">Tell us about any changes, for example, nominating a new induction tutor.</p>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <a class="govuk-button" data-module="govuk-button" href="sign-in">Sign in</a>
      <span class="govuk-!-margin-right-2 govuk-body">or</span>
      <a class="govuk-link govuk-link--no-visited-state" href="request-access">request access to the service</a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Guidance</h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers">
              Find out how to set up training for early career teachers (opens in new tab)
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
