{% extends "layouts/main.html" %}

{% set signedOut = true %}
{% set pageName="Appropriate body journey" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body"></p>

    

    {{ govukInsetText({
      text: "Placeholder screen for start of journey. Remove later"
    }) }}
    
    {{ govukButton({
      text: "Continue",
      href: "/choose-appropriate-body/appointed-appropriate-body"
    }) }}  

  </div>
</div>

{% endblock %}
