{% set filterOptionsHtml %}

  {{ govukCheckboxes({
    idPrefix: "filters[participantType]",
    name: "filters[participantType]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Participant type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'SIT',
      text: 'SIT'
    }, {
      value: 'Mentor',
      text: 'Mentor'
    }],
    values: data.filters.participantType
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[orgType]",
    name: "filters[orgType]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Organisation type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'School',
      text: 'School'
    }, {
      value: 'MAT',
      text: 'MAT'
    }],
    values: data.filters.orgType
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[trainingStatus]",
    name: "filters[trainingStatus]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Training status",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'School',
      text: 'School'
    }, {
      value: 'MAT',
      text: 'MAT'
    }],
    values: data.filters.trainingStatus
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/applications/clear-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/applications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
