{{ govukPagination({
  classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-2",
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#"
    },
    {
      number: 2,
      current: true,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

<p class="govuk-!-margin-bottom-0">Showing 1 to 20 of 20 results</p>


