<div class="govuk-width-container">
    {{ govukPhaseBanner({
      classes: "app-phase-banner--no-border-bottom",
      tag: {
        text: "PROTOTYPE",
        classes: "govuk-tag--red"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>