<form method="post" novalidate >
      
     {{ xGovukAutocomplete({
        id: "whichTSH",
        name: "[whichTSH]",
        value: data.whichTSH,
        allowEmpty: false,
        label: {
          classes: "govuk-label--s",
          isPageHeading: false,
          text: "Pick a teaching school hub"
        },
        items: [
          { text: "Alpha TSH" },
          { text: "Bravo TSH" },
          { text: "Charlie TSH" },
          { text: "Delta TSH" },
          { text: "Echo TSH" },
          { text: "Foxtrot TSH" },
          { text: "Golf TSH" },
          { text: "Hotel TSH" },
          { text: "India TSH" }
        ]
      }) }} 
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>