{% extends "layouts/admin.html" %}

{% set pageName = emailType.subject %}
{% set currentSection="emails" %}
{% set currentSubSection="emails" %}

{% block beforeContent %}
  {% include "admin/performance/_secondary-nav" %}
  {{ govukBackLink({ text: "Back", href: "/admin/performance/emails" }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l"> {{ pageName }}</h1>

    {% set senderListHtml %}
      {{ emailType.recipientsDescription | govukMarkdown }}
    {% endset %}

    {% set sentToHtml %}
      {% if email.sentTo %}
        {{ email.sentTo | numberFormat }} emails
      {% else %}
        Sending
      {% endif %}
    {% endset %}

    {% set bouncedHtml %}
      {{ email.bounced | numberFormat }} ({{ ((email.bounced / email.sentTo) * 100) | round }}%)
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Subject"
          },
          value: {
            text: emailType.subject
          }
        },
        {
          key: {
            text: "Date scheduled"
          },
          value: {
            text: (email.date | isoDateFromDateInput | govukDate)
          },
          actions: {
            items: [
            {
              href: "/admin/performance/emails/" + email.id + "/edit",
              text: "Change"
            } if (emailDate > dateToday)
          ]
        }
        },
        {
          key: {
            text: "Template"
          },
          value: {
            html: '<a href="#" class="govuk-link">' + emailType.notifyTemplate + '</a> (GOV.UK Notify)'
          }
        },
        {
          key: {
            text: "Recipient criteria"
          },
          value: {
            html: senderListHtml
          }
        },
        {
          key: {
            text: "Estimated size"
          },
          value: {
            html: "13,131 emails"
          }
        } if (emailDate > dateToday),
        {
          key: {
            text: "Sent to"
          },
          value: {
            html: sentToHtml
          }
        } if (emailDate < dateToday),
        {
          key: {
            text: "Bounced"
          },
          value: {
            html: bouncedHtml
          }
        } if (emailDate < dateToday and email.bounced)
      ]
    }) }}

    {% if emailDate > dateToday %}
      <form action="/admin/performance/emails/{{ email.id }}/delete" method="post">
        {{ govukButton({ text: "Remove this from the schedule", classes: "govuk-button--warning"})}}
      </form>
    {% endif %}

  </div>
</div>

{% endblock %}
