{% extends "layouts/main.html" %}

{% set pageName="Request programme change for an academic year" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">*** NEW CONTENT TO COME ***</p>
    {# <ul class="govuk-list govuk-list--bullet">
      <li>can work with your current lead provider</li>
      <li>has the capacity to work with your school</li>
    </ul>
    <p class="govuk-body">You should also contact your current lead provider and delivery partner before we can make a change.</p> #}
    
    {{ govukInsetText({
      text: "Wording to advise them that this will affect all participants within that academic year so if there were any ECT's they didn't want to amend they would need to make that clear"
    }) }}
    
    {{ govukButton({
      text: "Continue",
      href: "/programme-academic-year/change-programme-for"
    }) }}    
  </div>
</div>      


{% endblock %}


