{% extends "layouts/main.html" %}

{% set pageName="Mentors" %}
{% set currentSection="mentors" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {{ govukButton({ text: "Add mentor", href: "/mentors/add/what-we-need" }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

  <div class="app-filter">
    <form method="get" action="/mentors">
      {{ govukRadios({
        name: "show",
        classes: "govuk-radios--small",
        value: show,
        fieldset: {
          legend: {
            text: "Show",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "mentoring",
            text: "Currently mentoring (" + (mentorsCurrentlyMentoring | length) + ")"
          },
          {
            value: "not-mentoring",
            text: "Not mentoring (" + (mentorsNotMentoring | length) + ")"
          }
        ]
      }) }}

      {{ govukButton({ text: "Apply", classes: "govuk-button--secondary" }) }}
    </form>
  </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    {% if show == "not-mentoring" %}

      {% for mentor in mentorsNotMentoring | sort(false, false, "name") %}
        {% include "_mentor-card" %}
      {% endfor %}

    {% else %}

      {% for mentor in mentorsCurrentlyMentoring | sort(false, false, "name") %}
        {% include "_mentor-card" %}
      {% endfor %}

    {% endif %}

  </div>
</div>

{% endblock %}
