{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% set currentSection="mentors" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/mentors",
    text: "Back to mentors"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if justAdded %}
      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Mentor added
        </h3>
        <p class="govuk-body">You can now assign an ECT to this mentor.</p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: "success"
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Mentor</span>
    <h1 class="govuk-heading-l">{{ mentor.name }}</h1>

    <h2 class="govuk-heading-m">Personal details</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: mentor.name
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "TRN"
          },
          value: {
            text: mentor.trn
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: (mentor.dateOfBirth | govukDate)
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            html: mentor.emailAddress
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Mentoring</h2>

    {% if mentor.earlyCareerTeachers | length > 0 %}

      {% set teachersBeingMentored %}
        <ul class="govuk-list">
          {% for teacher in mentor.earlyCareerTeachers %}
            <li>
              <a href="/early-career-teachers/{{ teacher.id }}" class="govuk-link">{{ teacher.name }}</a>

              <p class="govuk-body govuk-!-margin-top-1">Induction started {{ teacher.inductionStartDate | govukDate }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Currently mentoring"
            },
            value: {
              html: teachersBeingMentored
            }
          }
        ]
      }) }}

    {% else %}
      <p class="govuk-body">Not currently mentoring.</p>
    {% endif %}

    <h2 class="govuk-heading-m">Mentor training</h2>

    {% set mentorTrainingStatusHtml %}

      {% if mentor.training.completedOn %}
        {{ govukTag({ text: "Training completed", classes: "govuk-tag--green" }) }}
        <p class="govuk-body govuk-!-margin-top-2">Completed {{ mentor.training.completedOn | termName }}</p>
      {% elseif mentor.training.startedOn %}
        {{ govukTag({ text: "Training", classes: "govuk-tag--turquoise" }) }}
        <p class="govuk-body govuk-!-margin-top-2">Started {{ mentor.training.startedOn | termName }}</p>
      {% else %}
        {{ govukTag({ text: "Not yet started", classes: "govuk-tag--blue" }) }}
        <p class="govuk-body govuk-!-margin-top-2">Training can begin once they are assigned an ECT to mentor</p>

      {% endif %}


    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Status"
          },
          value: {
            html: mentorTrainingStatusHtml
          }
        },
        {
          key: {
            text: "Lead provider"
          },
          value: {
            html: mentor.training.leadProvider
          }
        } if mentor.training.leadProvider,
        {
          key: {
            text: "Delivery partner"
          },
          value: {
            html: mentor.training.deliveryPartner
          }
        } if mentor.training.deliveryPartner
      ]
    }) }}

  </div>
</div>

{% endblock %}
