{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}
{% set currentSection="ects" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">St Mary’s Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <h2 class="govuk-heading-m">Teacher details</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data.name
          },
          actions: {
            items: [
              {
                href:  "/early-career-teachers/add/name",
                text: "Change",
                visuallyHiddenText: " name"
              }
            ]
          }
        },
        {
          key: {
            text: "Teacher reference number"
          },
          value: {
            text: data.trn
          },
          actions: {
            items: [
              {
                href:  "/early-career-teachers/add/trn",
                text: "Change",
                visuallyHiddenText: " teacher reference number"
              }
            ]
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: (data.dob | isoDateFromDateInput | govukDate )
          },
          actions: {
            items: [
              {
                href:  "/early-career-teachers/add/dob",
                text: "Change",
                visuallyHiddenText: " date of birth"
              }
            ]
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: (data.email )
          },
          actions: {
            items: [
              {
                href:  "/early-career-teachers/add/email",
                text: "Change",
                visuallyHiddenText: " email address"
              }
            ]
          }
        }
      ]
    }) }}


    {% if data.continueWithProgramme %}
      <h2 class="govuk-heading-m">Training details</h2>

      {% set trainingProviderText %}
        {% if data.continueWithProgramme == "yes" %}
          Best Practice Network
        {% elif data.newProvider === "ambition-with-selby" %}
          Ambition Institute
        {% elif data.newProvider === "niot-with-northamptonshire" %}
          National Institute of Teaching
        {% endif %}
      {% endset %}

      {% set deliveryPartnerText %}
        {% if data.continueWithProgramme == "yes" %}
          West LLC
        {% elif data.newProvider === "ambition-with-selby" %}
          Selby Teaching School Hub
        {% elif data.newProvider === "niot-with-northamptonshire" %}
          Northamptonshire Teaching School Hub
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Date they are joining your school"
            },
            value: {
              text: (data.startingOn | isoDateFromDateInput | govukDate )
            },
            actions: {
              items: [
                {
                  href:  "/early-career-teachers/add/moving-date",
                  text: "Change",
                  visuallyHiddenText: " date they are joining your school"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead provider"
            },
            value: {
              text: trainingProviderText
            },
            actions: {
              items: [
                {
                  href:  "/early-career-teachers/add/continuing-programme",
                  text: "Change",
                  visuallyHiddenText: " training provider"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery partner"
            },
            value: {
              text: deliveryPartnerText
            },
            actions: {
              items: [
                {
                  href:  "/early-career-teachers/add/continuing-programme",
                  text: "Change",
                  visuallyHiddenText: " delivery partner"
                }
              ]
            }
          }
        ]
      }) }}
    {% endif %}

    <form action="/early-career-teachers/add/confirm" method="post">
      {{ govukButton({ text: "Confirm and continue" }) }}
    </form>

  </div>
</div>

{% endblock %}
