{% extends "layouts/main.html" %}

{% set pageName="Training programme" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/add-participant-type"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">{{ data.name }} is currently training with:</p>

    {{ govukSummaryList({
      classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: { text: "Lead provider" },
          value: { text: "Best Practice Network" }
        },
        {
          key: { text: "Delivery partner" },
          value: { text: "West LLC" }
        },
        {
          key: { text: "Status" },
          value: { text: "Induction started on 4 September 2022" }
        }
      ]
    })

    }}


    <form action="/early-career-teachers/add/new-programme" method="post">

      {{ govukRadios({
        classes: "",
        name: "continueWithProgramme",
        value: data.continueWithProgramme,
        fieldset: {
          legend: {
            text: "Will they continue with this provider?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No, they’ll move to a different provider"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue "}) }}
    </form>

  </div>
</div>

{% endblock %}
