{{ xGovukSecondaryNavigation({
  classes: "govuk-!-margin-top-9 govuk-!-padding-bottom-0",
  visuallyHiddenTitle: "Secondary menu",
  items: [
    {
      text: "Details",
      href: "/admin/schools/" + schools.id,
      current: (currentSubSection == "details")
    },
    {
      text: "ECTs",
      href: "/admin/schools/" + schools.id + "/ects",
      current: (currentSubSection == "ects")
    },
    {
      text: "Mentors",
      href: "/admin/schools/" + schools.id + "/mentors",
      current: (currentSubSection == "mentors")
    },
    {
      text: "Cohorts",
      href: "#"
    }
  ]
}) }}
