{% extends "layouts/admin.html" %}

{% set pageName = "Mentors at " + school.name %}
{% set currentSection="schools" %}
{% set currentSubSection="mentors" %}

{% block beforeContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-4">{{ school.name }}</h1>
  {# {% include "admin/schools/_secondary-nav" %} #}

  {{ xGovukSecondaryNavigation({
    classes: "govuk-!-margin-top-9 govuk-!-padding-bottom-0",
    visuallyHiddenTitle: "Secondary menu",
    items: [
      {
        text: "Details",
        href: "/admin/schools/" + school.id,
        current: (currentSubSection == "details")
      },
      {
        text: "ECTs",
        href: "/admin/schools/" + school.id + "/ects",
        current: (currentSubSection == "ects")
      },
      {
        text: "Mentors",
        href: "/admin/schools/" + school.id + "/mentors",
        current: (currentSubSection == "mentors")
      },
      {
        text: "Cohorts",
        href: "#"
      }
    ]
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m">Mentors</h2>

      {% set names = ["Jaxon Brewer", "Marvin Lawrence", "Dayton Shelton", "Jamarion Acosta", "Addison Mercer", "Rosa Davenport", "Konner Anderson"] %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">TRN</th>
            <th scope="col" class="govuk-table__header">Cohort</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for name in names %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/admin/mentors/show" class="govuk-link">{{ name }}</a></th>
              <td class="govuk-table__cell">{{ 736524 - (loop.index0 * 33438) }}</td>
              <td class="govuk-table__cell">2023</td>
              <td class="govuk-table__cell">
                {% if loop.index0 < 3 %}
                  {{ govukTag({ text: "Not currently mentoring", classes: "govuk-tag--grey" }) }}
                {% else %}
                  <span class="govuk-tag govuk-tag--green">Mentoring</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Previously at the school</h2>

      {% set names = ["Danica Von", "Branden Murray"] %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">TRN</th>
            <th scope="col" class="govuk-table__header">Current school</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for name in names %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/admin/mentors/show" class="govuk-link">{{ name }}</a></th>
              <td class="govuk-table__cell">{{ 736524 - (loop.index0 * 33438) }}</td>
              <td class="govuk-table__cell">
                {% if loop.index0 == 0 %}
                <a href="#" class="govuk-link">Acland Burghley School</a>
                {% else %}
                Has not been transferred to another school
                {% endif %}

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
  </div>

{% endblock %}
