{% extends "layouts/admin.html" %}

{% set pageName = school.name %}

{% set currentSection="schools" %}
{% set currentSubSection="details" %}


{% block beforeContent %}


  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}



  <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-4">{{ pageName }}</h1>
  {# {% include "admin/schools/_secondary-nav" %} #}

  {{ xGovukSecondaryNavigation({
    classes: "govuk-!-margin-top-9 govuk-!-padding-bottom-0",
    visuallyHiddenTitle: "Secondary menu",
    items: [
      {
        text: "Details",
        href: "/admin/schools/" + school.id,
        current: (currentSubSection == "details")
      },
      {
        text: "ECTs",
        href: "/admin/schools/" + school.id + "/ects",
        current: (currentSubSection == "ects")
      },
      {
        text: "Mentors",
        href: "/admin/schools/" + school.id + "/mentors",
        current: (currentSubSection == "mentors")
      },
      {
        text: "Cohorts",
        href: "#"
      }
    ]
  }) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ pageName }}</h1>

    {{ data.schools | log }}

      {{ govukSummaryList({
        rows: [                     
          {
            key: {
              text: "URN"
            },
            value: {
              text: school.id
            }
          },
          {
            key: {
              text: "Induction tutor"
            },
            value: {
              html: '<p>' + school.inductionTutorName + '</p><a>' + school.inductionTutorEmail + '</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: school.localAuthority
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: school.address.line1 + "<br>" + school.address.town + "<br>" + school.address.postcode + "<br>"
            }
          }
        ]
      }) }}

  </div>
</div>

{% endblock %}
