{% extends "layouts/admin.html" %}

{% set pageName = school.name %}

{% set currentSection="schools" %}
{% set currentSubSection="details" %}

{% block beforeContent %}
  <h1 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-4">{{ pageName }}</h1>
  {% include "admin/schools/_secondary-nav" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">{{ pageName }}</h1>

    {{ data.schools | log }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "URN"
            },
            value: {
              text: school.id
            }
          },
          {
            key: {
              text: "Induction tutor"
            },
            value: {
              html: '<p>Jane Smith<br><a>' + school.inductionTutor + '</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: school.localAuthority
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: school.address.line1 + "<br>" + school.address.line2 + "<br>" + school.address.town + "<br>"
            }
          }
        ]
      }) }}

  </div>
</div>

{% endblock %}
