{% extends "layouts/signed-in-home.html" %}

{% set title="Check your answers before you request the change" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <h2 class="govuk-heading-m">Change request details</h2>

    {{ govukSummaryList({
    rows: [
    {
    key: {
    text: "Induction tutor name"
    },
    value: {
    html: "Tutor name"
    }
    },
    {
    key: {
    text: "Induction tutor email address"
    },
    value: {
    html: "tutor@email.com"
    }
    },
    {
    key: {
    text: "School"
    },
    value: {
    html: "School name here"
    }
    },
    {
    key: {
    text: "Academic year"
    },
    value: {
    html: "2024 to 2025"
    }
    },
    {
    key: {
    text: "Current lead provider"
    },
    value: {
    html: "Schmitt Inc"
    }
    },
    {
    key: {
    text: "Contacted current providers"
    },
    value: {
    html: data['notifiedDeliveryAndLeadProvider']
    },
    actions: {
    items: [
    {
    href: "notified-dp-and-lp",
    text: "Change",
    visuallyHiddenText: "if you agreed changes with the lead provider and delivery partner"
    }
    ]
    }
    },
    {
    key: {
    text: "New delivery partner"
    },
    value: {
    html: data['newDeliveryPartner']
    },
    actions: {
    items: [
    {
    href: "select-new-delivery-partner",
    text: "Change",
    visuallyHiddenText: "new delivery partner"
    }
    ]
    }
    }
    ]
    }) }}

    {{ govukButton({
    text: "Accept and send request",
    href: "request-submitted"
    }) }}

  </div>
</div>
{% endblock %}



