{% extends "layouts/signed-in-home.html" %}

{% set title="You need to contact your lead provider" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">If you want to <a href="https://www.gov.uk/guidance/how-to-manage-early-career-teacher-training#change-delivery-partner" target="_blank" class="govuk-link govuk-link--no-visited-state">change your delivery partner (opens in a new window or tab)</a> you need to confirm the change with your lead provider.</p>
    <p class="govuk-body">Your lead provider will then report the change to us.</p>

    <p class="govuk-body"><a href="../home" class="govuk-link">Return to manage your training</a></p>
  </div>
</div>    

{% endblock %}


