{% extends "layouts/signed-in-home.html" %}

{% set title="Request a change to a lead provider for academic year 2024-2025" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>


    <p class="govuk-body">Your school should contact your training providers before we can make a change. Some lead providers prefer you to contact the delivery partner first.</p>

    <p class="govuk-body">A lead provider should withdraw a participant who is no longer training with them.</p>
    
    
    {{ govukInsetText({
      text: "We’ll confirm the changes with providers and update this service as soon as possible. This may take a few weeks."
    }) }}
    <form method="post">
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
</div>      


{% endblock %}


