{% extends "layouts/main.html" %}

{% set pageName="Have you agreed this change with the current and new lead providers?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {# <p class="govuk-body">Additional content / guidance etc</p> #}

    <form method="post">

      {{ govukRadios({
        name: "[agreedWith][providers]",
        value: data.agreedWith.providers,
        hint: {
          text: "Some lead providers prefer schools to contact the delivery partner first."
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>  


{% endblock %}


