{% extends "layouts/main.html" %}

{% set pageName="Have you agreed theis change with the existing and new providers?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>

<p class="govuk-body">Additional content / guidance etc</p>

<form method="post">

  {{ govukRadios({
    name: "[agreedWith][providers]",
    value: data.agreedWith.providers,
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>



{% endblock %}


