{% extends "layouts/main.html" %}

{% set pageName="Have you contacted the lead provider more than 2 weeks ago?" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>

<p class="govuk-body">Additional content to explain why its 2 weeks etc </p>

<form method="post">

  {{ govukRadios({
    name: "[contacted][leadProvider]",
    value: data.contacted.leadProvider,
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      },
      {
        value: "I don't know",
        text: "I don't know"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>



{% endblock %}


