{% extends "layouts/main.html" %}

{% set pageName="What do you want to change the lead provider for" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

{{ data | log }}
{# <h1 class="govuk-heading-l">{{ pageName }}</h1> #}

<form method="post" novalidate >
  {{ govukRadios({
    name: "[change][leadProvFor]",
    value: data.change.leadProvFor,
    fieldset: {
      legend: {
        text: pageName,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Participant",
        text: "Participant"
      },
      {
        value: "Academic year",
        text: "Academic year"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>





{% endblock %}


