{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  {{ data | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Support request details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "[r/only ppt name]"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: data['participant']['email']
            },
            actions: {
              items: [
                {
                  href: "participant-email?returnUrl=/lead-provider/check-participant",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact with lead provider over two weeks ago"
            },
            value: {
              html: data['contacted']['leadProvider']
            },
            actions: {
              items: [
                {
                  href: "contacted-lead-provider",
                  text: "Change",
                  visuallyHiddenText: "contact with lead provider"
                }
              ]
            }
          },
          {
            key: {
              text: "New lead provider"
            },
            value: {
              html: data['new']['leadProvider']
            },
            actions: {
              items: [
                {
                  href: "new-lead-provider",
                  text: "Change",
                  visuallyHiddenText: "new lead provider"
                }
              ]
            }
          }
        ]
      }) }}
    

    </div>
  </div>
{% endblock %}



