{% extends "layouts/main.html" %}

{% set pageName="Request a change to a lead provider" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>


    <p class="govuk-body">You must contact the lead provider to request a change before we can make a change. Some lead providers prefer schools to contact the delivery partner first.</p>

    <p class="govuk-body">A lead provider should withdraw a participant who is no longer training with them.</p>
    
    
    {{ govukInsetText({
      text: "It can take around 2 weeks for a change made by a lead provider to show on this service."
    }) }}
    
    {{ govukButton({
      text: "Continue",
      href: "/lead-provider/change-lp-for"
    }) }}    
  </div>
</div>      


{% endblock %}


