{% extends "layouts/main.html" %}

{% set pageName="Support request information and guidance" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>


{{ govukInsetText({
  text: "Rob feel free to chge or remove any components. All just dummy content."
}) }}

<p class="govuk-body">Content to make it clear that the change isnt being implemented on submitting this request</p>
<p class="govuk-body">Content to make it clear what the journey IS rather than what it IS NOT</p>

{{ govukButton({
  text: "Continue",
  href: "/lead-provider/change-lp-for"
}) }}

{% endblock %}


