{% extends "layouts/signed-in-home.html" %}

{% set title="Have you contacted the lead providers in the last 2 weeks?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">It can take around 2 weeks for a change by a lead provider to show on this service.</p>
    
    <form method="post">
    
      {{ govukRadios({
        name: "contacted[leadProvider]",
        value: data.contacted.leadProvider,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          },
          {
            value: "I don't know",
            text: "I don't know"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>    
  </div>
</div>

{% endblock %}


