{% extends "layouts/main.html" %}

{% set pageName="Confirm that " + data.name + " is moving from another school" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/add-participant-type"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">Our records show that {{ data.name }} is already registered on an early careers training programme at a different school.</p>

    {{ govukButton({ text: "Confirm", href: "/add-ect/email" }) }}

  </div>
</div>

{% endblock %}
