{% extends "layouts/main.html" %}

{% set pageName="What’s this ECT’s full name?" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/add-participant-type"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>

    <form action="/add-ect/trn" method="post">
      {{ govukInput({
        name: "name",
        id: "name",
        value: data.name,
        label: {
          text: pageName,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Do not include middle names or titles like Ms or Mr"
        }

      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>

{% endblock %}
