{% extends "layouts/logged-in" %}

{% set pageName = "Mentor" %}

{% set activeLinkId = "ects" %}
{% set navigationItems = [
  {
    href: "/ects",
    text: 'Early career teachers',
    id: 'ects'
  },{
    href: "/mentors",
    text: 'Mentors',
    id: 'mentors'
  }]
%}

{% block beforeContent %}
  {{ govukBackLink({ href: "/ects/" + ect.trn + "/show" }) }}
{% endblock %}


{% set pageName %}
  Why do you want to change their mentor from {{ currentMentor.mentor.name }}?
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/ects/{{ ect.trn }}/new-mentor" method="post">

      {{ govukRadios({
        name: "mentor",
        value: data.mentor,
        fieldset: {
          legend: {
            text: pageName,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "They are going to have a new mentor",
            value: "changed"
          },
          {
            text: currentMentor.mentor.name + " did not start mentoring them",
            value: "fix"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>

{% endblock %}
