{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set pageName = "Who will their new mentor be?" %}

{% set activeLinkId = "ects" %}
{% set navigationItems = [
  {
    href: "/ects",
    text: 'Early career teachers',
    id: 'ects'
  },{
    href: "/mentors",
    text: 'Mentors',
    id: 'mentors'
  }]
%}

{% block beforeContent %}
  {{ govukBackLink({ href: "/ects/" + ect.trn + "/change-mentor" }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/ects/review" method="post">

      {% set someoneElseHtml %}
        {{ govukInput({
          id: "other-mentor",
          name: "otherMentorName",
          allowEmpty: false,
          autocomplete: "off",
          selected: data.otherMentorName,
          label: {
            classes: "govuk-label--s",
            text: "Name of mentor"
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "mentor",
        value: data.mentor,
        fieldset: {
          legend: {
            text: pageName,
            classes: "govuk-fieldset__legend--l",
            isPageTitle: true
          }
        },
        items: [
          {
            text: "Alisa Jones",
            value: "Alisa Jones"
          },
          {
            divider: "or"
          },
          {
            text: "Someone else",
            value: "Someone else",
            conditional: {
              html: someoneElseHtml
            }
          },
          {
            divider: "or"
          },
          {
            text: "I’m not sure yet – I’ll assign a mentor later",
            value: "not-sure"
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>

{% endblock %}
