{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set pageName = "Check your answers" %}

{% set activeLinkId = "ects" %}
{% set navigationItems = [
  {
    href: "/ects",
    text: 'Early career teachers',
    id: 'ects'
  },{
    href: "/mentors",
    text: 'Mentors',
    id: 'mentors'
  }]
%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">These details will be stored on the record held by the Teaching Regulation Agency (TRA).</p>

    <h2 class="govuk-heading-m">Teacher details</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data.firstName + " " + data.lastName
          },
          actions: {
            items: [
              {
                href:  "/ects/add",
                text: "Change",
                visuallyHiddenText: " name"
              }
            ]
          }
        },
        {
          key: {
            text: "Teacher reference number"
          },
          value: {
            text: data.trn
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: (data.dob | isoDateFromDateInput | govukDate )
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Induction</h2>

    {% set startDateText %}
      {% if data.startTerm == "other" %}
        {{ data.startDate | isoDateFromDateInput | govukDate }}
      {% else %}
        {{ data.startTerm }}
      {% endif %}
    {% endset %}

    {% set appropriateBodyText %}
      {% if data.appropriateBody == "A teaching school hub" %}
        {{ data.teachingSchoolHub }}
      {% else %}
        {{ data.appropriateBody }}
      {% endif %}
    {% endset %}

    {% set mentorText %}
      {{ data.mentor }}
    {% endset %}


    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
        {
          key: {
            text: "School"
          },
          value: {
            text: data.schoolName
          },
          actions: {
              items: [
              {
                href:  "/ects/which-school",
                text: "Change",
                visuallyHiddenText: " school"
              }
            ]
          }
        },
        {
          key: {
            text: "Date their induction starts"
          },
          value: {
            text: startDateText
          },
          actions: {
            items: [
              {
                href:  "/ects/start-date",
                text: "Change",
                visuallyHiddenText: " induction start date"
              }
            ]
          }
        },
        {
          key: {
            text: "Induction tutor"
          },
          value: {
            text: data.inductionTutor
          },
          actions: {
            items: [
              {
                href:  "/ects/induction-tutor",
                text: "Change",
                visuallyHiddenText: " training provider"
              }
            ]
          }
        },
        {
          key: {
            text: "Appropriate body"
          },
          value: {
            text: appropriateBodyText
          },
          actions: {
            items: [
              {
                href:  "/ects/appropriate-body",
                text: "Change",
                visuallyHiddenText: " training provider"
              }
            ]
          }
        },
        {
          key: {
            text: "Mentor"
          },
          value: {
            text: mentorText
          },
          actions: {
            items: [
              {
                href:  "/ects/mentor",
                text: "Change"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Training</h2>

    {% set trainingProgrammeText %}
      {% if data.trainingProgramme == "fip" %}
        Training provider funded by Department for Education
      {% elif data.trainingProgramme == "cip" %}
        Our own programme using DfE accredited materials
      {% elif data.trainingProgramme == "diy" %}
        Our own programme based on the Early Career Framework (ECF)
      {% endif %}
    {% endset %}

    {% set leadProviderText %}
      {{ data.leadProvider }}
    {% endset %}


    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
        {
          key: {
            text: "Training programme"
          },
          value: {
            text: trainingProgrammeText
          },
          actions: {
            items: [
              {
                href:  "/ects/training-programme",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Lead provider"
          },
          value: {
            text: leadProviderText
          },
          actions: {
            items: [
              {
                href:  "/ects/provider",
                text: "Change",
                visuallyHiddenText: " training provider"
              }
            ]
          }
        }
      ]
    }) }}

    <form action="/ects/confirm" method="post">
      {{ govukButton({ text: "Confirm and continue"}) }}
    </form>

  </div>
</div>

{% endblock %}
