{% extends "layouts/main.html" %}

{% set signedOut = true %}
{% set pageName="Have you appointed an appropriate body?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Cohortless Empty School FIP</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>    
    <form method="post" novalidate >
      
      {{ govukRadios({
        name: "[appointedAB]",
        value: data.appointedAB,
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
    
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    {{ govukDetails({
      summaryText: "Help with appropriate bodies",
      html: "<b>**Some guidance in here and possibly signpost some links to associated content on ABs.**</b> For example, tell them if they choose 'no',it means they will have to appoint the AB later by contacting a local AB to set up the relationship"
    }) }}
  </div>
</div>

{% endblock %}


