{% extends "layouts/main.html" %}


{% if data['whichABJourney'] == 'Independent school' and data['appointedAB'] == 'Yes' %}
  {% set pageName = "Choose either Teaching school hub (TSH) or Independent schools teacher induction panel (iStip)" %}      
{% endif %}

{% if data['whichABJourney'] == 'British overseas school' and data['appointedAB'] == 'Yes' %}
  {% set pageName="Choose either Teaching school hub (TSH) or Appropriate Body (NAME TBC)" %}      
{% endif %}

{% if data['whichABJourney'] == 'Neither Independent or British overseas school' and data['appointedAB'] == 'Yes' %}
  {% set pageName="Choose a Teaching school hub" %}      
{% endif %}

{% set signedOut = true %}


{% block beforeContent %}
  {{ govukBackLink({ 
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Cohortless Empty School FIP</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">If any of your ECTs will work with a different appropriate body, you can tell us when you register them later.</p>

    {# {{ govukInsetText({
      text: "Remember to contact the appropriate body directly to appoint them for your ECTs"
    }) }} #}
    <form method="post" novalidate >

      {% if data['whichABJourney'] == 'Independent school' and data['appointedAB'] == 'Yes' %}
        {% include "_includes/tsh-or-istip.njk" %}
      {% endif %}

      {% if data['whichABJourney'] == 'British overseas school' and data['appointedAB'] == 'Yes' %}
        {% include "_includes/tsh-or-new-ab.njk" %}
      {% endif %}

      {% if data['whichABJourney'] == 'Neither Independent or British overseas school' and data['appointedAB'] == 'Yes' %}
        {% include "_includes/tsh-only.njk" %}
      {% endif %}

  </form>


    
  </div>
</div>

{% endblock %}


