{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% set indTutName="Mary Bobbins" %}

{% set typeOfAB="" %}

{% if data.whichTSH | length > 0%}
  typeOfAB == {{ data.whichTSH }}
{% else %}
  typeOfAB == {{ data.tshOrIStip }}
{% endif %} 


{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

{% include "_includes/proto-phase-banner.njk" %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

  {{ data | log }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Change request details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Induction tutor"
            },
            value: {
              html: indTutName
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              html: data['sit']['emailAddress']
            }
          },
          {
            key: {
              text: "School"
            },
            value: {
              html: "Plymouth High School"
            }
          },
          {
            key: {
              text: "Academic year"
            },
            value: {
              html: "2023 to 2024"
            }
          },
          {
            key: {
              text: "Appointed appropriate body"
            },
            value: {
              html: data['appointedAB']
            },
            actions: {
              items: [
                {
                  href: "appointed-appropriate-body?returnUrl=/registration/choose-appropriate-body/check-answers-choose-appropriate-body",
                  text: "Change",
                  visuallyHiddenText: "have you appointed an appropriate body"
                }
              ]
            }
          },
          {
            key: {
              text: "Independent school"
            },
            value: {
              html: data['iStipOrTeachingSchoolHub']
            },
            actions: {
              items: [
                {
                  href: "independent-school?returnUrl=/registration/choose-appropriate-body/check-answers-choose-appropriate-body",
                  text: "Change",
                  visuallyHiddenText: "are you an independent school"
                }
              ]
            }
          },
          {
            key: {
              text: "Appropriate body"
            },
            value: {
              html: data['typeOfAB']
            },
            actions: {
              items: [
                {
                  href: "choose-teaching-school-hub-or-istip?returnUrl=/registration/choose-appropriate-body/check-answers-choose-appropriate-body",
                  text: "Change",
                  visuallyHiddenText: "are you an independent school"
                }
              ]
            } 
          } 
        ]
      }) }}
      
      {{ govukButton({
        text: "Accept and send request",
        href: "request-submitted"
      }) }}

    </div>
  </div>
{% endblock %}



