{% extends "layouts/main.html" %}

{% set signedOut = true %}
{% set pageName="You've submitted your training information" %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
  #}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {# <span class="govuk-caption-xl">Cohortless Empty School FIP</span> #}
    {# <h1 class="govuk-heading-l">{{ pageName }}</h1>  #}

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageName }}</h1>
      <div class="govuk-panel__body govuk-!-font-size-36">
        You still need to appoint an appropriate body<br><strong class="govuk-!-font-size-24">Academic year 20XX to 20XX</strong>
      </div>
   </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We'll let your current training providers about the changes for the 20XX to 20XX academic year.</p> 


    <h2 class="govuk-heading-m">What to do next</h2>

    <p class="govuk-body">As soon as possible, use this service to tell us:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>who your <a href="/registration" class="govuk-link">appropriate body</a> is, once you've appointed them</li>
      <li>details of <a href="/early-career-teachers" class="govuk-link">new ECTs and mentors</a> so we can check their eligibility for funding</li>
      <li>which mentor has been assigned to each ECT</li>
    </ul>

    <p class="govuk-body"><a href="/home" class="govuk-link">Return to manage your training</a></p>
     
    
  </div>
  {{ data | log }}
</div>

{% endblock %}


