{% extends "layouts/main.html" %}

{% set signedOut = true %}
{% set pageName="No appropriate body appointed" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Cohortless Empty School FIP</span>
    {# <h1 class="govuk-heading-l">{{ pageName }}</h1>  #}
    
    {{ govukPanel({
      titleText: pageName,
      html: "Your reference number<br><strong>HDJ2123F</strong>"
    }) }}
    
    
    
  </div>
</div>

{% endblock %}


