{% extends "layouts/signed-in-mentors.html" %}

{% set title %}
Mentors
{% endset %}

{% block pageTitle %}
  {{ title }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-heading-s">
          Confirm which participants from the 2021 to 2022 academic year will continue training
        </h3>
        <p>You need to report who will continue training in the 2024 to 2025 academic year.</p>
        <p><a href="confirm-participants-still-training/guidance">Report training</a></p>
      </div>
    </div>
    <span class="govuk-caption-l">School name here</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <a class="govuk-button" data-module="govuk-button" no_visited_state="true" href="">Add Mentor</a>

  </div>
</div>
<div class="govuk-grid-row wrapper-dashboard-v2">
  <div class="govuk-grid-column-one-third">
    <div class="app-filter">
      <form class="new_" id="new_" action="" accept-charset="UTF-8" method="get">
        <div class="govuk-form-group"><fieldset class="govuk-fieldset"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><h2 class="govuk-fieldset__heading">Show</h2></legend><div class="govuk-radios govuk-radios--small" data-module="govuk-radios"><div class="govuk-radios__item"><input id="filtered-by-currently-mentoring-field" class="govuk-radios__input" type="radio" value="currently_mentoring" checked="checked" name="filtered_by"><label for="filtered-by-currently-mentoring-field" class="govuk-label govuk-radios__label">Currently mentoring (0)</label></div><div class="govuk-radios__item"><input id="filtered-by-not-mentoring-field" class="govuk-radios__input" type="radio" value="not_mentoring" name="filtered_by"><label for="filtered-by-not-mentoring-field" class="govuk-label govuk-radios__label">Not mentoring (0)</label></div></div></fieldset></div>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true">Apply</button>
      </form>      </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="manage-mentors-ects govuk-!-margin-bottom-8">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"><a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-regular" href="">David Smith</a></h2>

        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0"><div class="govuk-summary-list__row"><dt class="govuk-summary-list__key">Mentoring</dt><dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced">
              <li>
                John Smith
                <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">
                  Induction started 1 September 2021
                </p>
              </li>
              <li>
                Jane Doe
                <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">
                  Induction started 1 September 2021
                </p>
              </li>
              <li>
                Peter Jones
                <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">
                  Induction started 1 September 2021
                </p>
              </li>
            </ul>
          </dd></div></dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}