
<div class="govuk-!-margin-bottom-8">

  {% for teacher in ectsBeingTrained %}

    <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <h2 class="govuk-summary-card__title"><a href="/early-career-teachers/{{ teacher.id }}" class="govuk-link govuk-link--no-visited-state">{{ teacher.name }}</a></h2>
    </div>
    <div class="govuk-summary-card__content">

      {% set status %}
      {% if teacher.inductionStartDate %}
        {{ govukTag({ text: "Training", classes: "govuk-tag--turquoise" }) }}

        <p class="govuk-body govuk-!-margin-top-2">Induction started {{ teacher.inductionStartDate | govukDate }}</p>

        {% if teacher.leftSchoolOn %}
          <p class="govuk-body">They’re leaving the school on <span style="white-space: nowrap;">{{ teacher.leftSchoolOn | isoDateFromDateInput | govukDate }}</span></p>
        {% endif %}

      {% else %}
        {{ govukTag({ text: "Eligible for training", classes: "govuk-tag--turquoise" }) }}
      {% endif %}
      {% endset %}

      {% set mentor %}
        {% if teacher.mentor %}
          {{ teacher.mentor.name }}
        {% else %}
          <div class="app-summary-list__missing">
            <div class="app-summary-list__missing-heading">No mentor assigned</div>
            <a href="/early-career-teachers/{{ teacher.id }}/change-mentor" class="govuk-link--no-visited-state">Assign a mentor</a>
          </div>
        {% endif %}
      {% endset %}

       {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-!-margin-bottom-0",
        rows: [
          {
            key: {
              text: "Status"
            },
            value: {
              html: status
            }
          },
          {
            key: {
              text: "Mentor"
            },
            value: {
              html: mentor
            }
          }
        ]
      }) }}

    </div>
  </div>

  {% endfor %}


</div>
