
{% if teachersWithoutMentors | length > 0 %}

  {{ govukWarningText({ text: "You need to assign a mentor to these ECTs:",
  classes: "govuk-!-margin-bottom-3" }) }}

  <ul class="govuk-list govuk-!-margin-bottom-6">
  {% for teacher in teachersWithoutMentors %}
    <li><a href="/early-career-teachers/{{ teacher.id }}" class="govuk-link">{{ teacher.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}


{% for mentor in mentors | sort(false, false, "name") %}
  {% if mentor.earlyCareerTeachers | length > 0 %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__content">

      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Mentor</h2>

      {% set mentorStatusHtml %}
        {{ govukTag({ text: "Mentoring", classes: "govuk-tag--turquoise" }) }}
      {% endset %}

      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              html: "<a href=\"/mentors/" + mentor.id + "\" class=\"govuk-link--no-visited-state\">" + mentor.name + "</a>",
              classes: "govuk-!-font-weight-regular"
            },
            value: {
              html: mentorStatusHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">ECTs</h2>

      {% set rows = [] %}

      {% for earlyCareerTeacher in mentor.earlyCareerTeachers %}

        {% set key = {html: "<a href=\"/early-career-teachers/" + earlyCareerTeacher.id + "\" class=\"govuk-link--no-visited-state\">" + earlyCareerTeacher.name + "</a>", classes: "govuk-!-font-weight-regular"} %}

        {% set valueHtml %}
          {% if earlyCareerTeacher.inductionStartDate %}
            {{ govukTag({ text: "Training", classes: "govuk-tag--turquoise" }) }}

            <p class="govuk-body govuk-!-margin-top-2">Induction started {{ earlyCareerTeacher.inductionStartDate | govukDate }}</p>

           {% if earlyCareerTeacher.leftSchoolOn %}
              <p class="govuk-body">They’re leaving the school on <span style="white-space: nowrap;">{{ earlyCareerTeacher.leftSchoolOn | isoDateFromDateInput | govukDate }}</span></p>
            {% endif %}

          {% else %}
            {{ govukTag({ text: "Eligible for training", classes: "govuk-tag--turquoise" }) }}
          {% endif %}
        {% endset %}

        {% set value = {html: valueHtml} %}
        {% set rows = (rows.push({key: key, value: value}), rows) %}
      {% endfor %}

      {% set mentorStatusHtml %}
        {{ govukTag({ text: "Mentoring", classes: "govuk-tag--turquoise" }) }}
      {% endset %}

      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-!-margin-bottom-0",
        rows: rows
      }) }}

    </div>
  </div>
  {% endif %}
{% endfor %}
