
 <h2 class="govuk-heading-m">Not mentoring or being mentored</h2>

{% set rows = [] %}

{% for teacher in data.noLongerTraining %}
  {% set valueHtml %}
    {{ govukTag({ text: "No longer training", classes: "govuk-tag--grey" })}}
  {% endset %}
  {% set rows = (rows.push({key: {html: "<a href=\"/no-longer-training/" + teacher.id + "\" class=\"govuk-link--no-visited-state\">" + teacher.name + "</a>", classes: "govuk-!-font-weight-regular"}, value: {html: valueHtml} }), rows) %}
{% endfor %}

{{ govukSummaryList({
  rows: rows,
  classes: "govuk-!-margin-bottom-8"
}) }}
