<!-- Start of service navigation -->
  <div class="service-header" data-one-login-header-nav>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <!-- The name of your service goes here -->
          <h2 class="service-header__heading">DfE schools account</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <!-- Label the toggle button appropriately (you might want to use the name of your service) to provide support for screen reader users -->
          <button type="button"
            aria-controls="service-header__nav"
            data-open-class="cross-service-header__button--open"
            aria-label="Show service navigation menu"
            data-label-for-show="Show service navigation menu"
            data-label-for-hide="Hide service navigation menu"
            data-text-for-show="Menu"
            data-text-for-hide="Close"
            aria-expanded="false"
            class="cross-service-header__button cross-service-header__button--service-header js-x-header-toggle">
            <span class="service-header__button-content">Menu</span>
          </button>
          <!-- Important! Label your navigation appropriately! When there are multiple navigation landmarks on a page, additional labelling is required to provide support for screen reader users -->
          <nav aria-label="Service menu">
            <ul class="service-header__nav-list service-header__nav" id="service-header__nav" data-open-class="service-header__nav--open">
              <!-- Use the "service-header__nav-list-item--active" modifier class on the li to visually highlight the page the user is currently viewing -->
              {% set nav = [
                {text: "Services", href: "/schools-account"},
                {text: "Users", href: "/organisations"},
                {text: "Your profile", href: "/profile"}
              ] %}
              {% for page in nav %}
              <li class="service-header__nav-list-item {% if currentPage == page.href %}service-header__nav-list-item--active"{% endif %}>
                <!-- Use the aria-current="page" attribute on the anchor tag -->
                <a class="service-header__nav-list-item-link" {% if currentPage == page.href %}aria-current="page"{% endif %} href="{{ page.href }}">{{ page.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- End of service navigation -->
