{% extends "layouts/main.html" %}

{% set pageName="Check your school email" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p class="govuk-body">We’ve emailed a link to <b>p************t@{{ data.schoolName | lower | slugify }}.sch.uk</b></p>

    <p class="govuk-body">If the email does not arrive within 5 minutes, check the spam or junk folder.</p>

    <p class="govuk-body">You can also <a href="request-access" class="govuk-link">request another link</a>.</p>

    <p class="govuk-body">If you still need help, contact us:
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>
    </p>
  </div>
</div>

{% endblock %}
