{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Manage mentors and ECTs",
        href: "/participants"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-l">Early career teacher</span>
    <h1 class="govuk-heading-l">{{ teacher.name }}</h1>

    {% set tagText = "Training" if teacher.inductionStartDate else "Eligible for training" %}

    {% set statusText %}
      {% if teacher.inductionStartDate %}
        Induction started on <span style="white-space: nowrap;">{{ teacher.inductionStartDate | govukDate }}</span>

        {% if teacher.inductionStartDate < "2021-09-30" %}
          <p class="govuk-body">Alban Teaching School Hub will record the induction completed date when {{ teacher.name }} has passed their induction.</p>

          <p class="govuk-body">There may be a delay before this information is updated here.</p>
        {% endif %}
      {% else %}
        We’ve confirmed the participant is eligible for this programme</p>

        <p class="govuk-body">Alban Teaching School Hub needs to confirm their induction start date.
      {% endif %}
    {% endset %}


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: teacher.name
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "TRN"
          },
          value: {
            text: teacher.trn
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: (teacher.dateOfBirth | govukDate)
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            html: teacher.emailAddress
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        },
        {
          key: {
            text: "Mentor"
          },
          value: {
            html: "<a href=\"/mentors/" + mentor.id + "\" class=\"govuk-link\">" + mentor.name + "</a>" if mentor else "<div class=\"govuk-summary-list__missing\" ><div class=\"govuk-summary-list__missing-heading\">No mentor assigned</div><a href=\"#\" class=\"govuk-link--no-visited-state\">Assign a mentor</a></div>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          } if mentor
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: "<p class=\"govuk-body\"><span class=\"govuk-tag govuk-tag--turquoise\">" + tagText + "</span></p><p class=\"govuk-body\">" + statusText + "</p>"
          }
        },
        {
          key: {
            text: "Lead provider"
          },
          value: {
            html: "Ambition Institute"
          }
        },
        {
          key: {
            text: "Delivery partner"
          },
          value: {
            html: "Bosco LLC"
          }
        },
        {
          key: {
            text: "Appropriate body"
          },
          value: {
            html: "Alban Teaching School Hub"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }

      ]
    }) }}

    <h2 class="govuk-heading-m">Are they transferring to another school?</h2>

    <p class="govuk-body">Tell us if <a href="/early-career-teachers/{{ teacher.id }}/transfer" class="govuk-link">{{ teacher.name }} is transferring to another school</a></p>


  </div>
</div>

{% endblock %}
