{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Manage mentors and ECTs",
        href: "/participants"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-l">Early career teacher</span>
    <h1 class="govuk-heading-l">{{ teacher.name }}</h1>

    {% if teacher.noLongerTraining %}
      {% set tagText = "No longer being trained" %}
      {% set tagClass = "govuk-tag--grey" %}
      {% set statusText = "They left your school" %}
      {% if teacher.leftSchoolOn %}
        {% set statusText = statusText + " on " + (teacher.leftSchoolOn | isoDateFromDateInput | govukDate) %}
      {% endif %}
    {% elseif not teacher.inductionStartDate %}
      {% set tagText = "Eligible for training" %}
      {% set tagClass = "govuk-tag--green" %}
      {% set statusText %}
        We’ve confirmed the participant is eligible for this programme</p>

        <p class="govuk-body">Alban Teaching School Hub needs to confirm their induction start date.

        {% if teacher.leftSchoolOn %}
          <p class="govuk-body">They’re leaving the school on <span style="white-space: nowrap;">{{ teacher.leftSchoolOn | isoDateFromDateInput | govukDate }}</span></p>
        {% endif %}
      {% endset %}
    {% elseif teacher.completedDate %}
      {% set tagText = "Induction completed" %}
      {% set tagClass = "govuk-tag--green" %}
      {% set statusText %}
        Completed on {{ teacher.completedDate | govukDate }}
      {% endset %}
    {% else %}
      {% set tagText = "Training" %}
      {% set tagClass = "govuk-tag--green" %}
      {% set statusText %}
          Induction started on <span style="white-space: nowrap;">{{ teacher.inductionStartDate | govukDate }}</span>

          {% if teacher.inductionStartDate < "2021-09-30" %}

            <p class="govuk-body">Based on their induction start date, we think this person has completed their induction and training. </p>

            <p class="govuk-body">We’ll update their information when their appropriate body confirms this. This may take several weeks.  </p>

            <p class="govuk-body">You do not need to take any action.</p>

          {% endif %}

          {% if teacher.leftSchoolOn %}
            <p class="govuk-body">They’re leaving the school on <span style="white-space: nowrap;">{{ teacher.leftSchoolOn | isoDateFromDateInput | govukDate }}</span></p>
          {% endif %}
      {% endset %}
    {% endif %}


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: teacher.name
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "name"
              }
            ]
          }  if not teacher.noLongerTraining
        },
        {
          key: {
            text: "TRN"
          },
          value: {
            text: teacher.trn
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: (teacher.dateOfBirth | govukDate)
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            html: teacher.emailAddress
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          } if not teacher.noLongerTraining
        },
        {
          key: {
            text: "Mentor"
          },
          value: {
            html: "<a href=\"/mentors/" + mentor.id + "\" class=\"govuk-link\">" + mentor.name + "</a>" if mentor else "<div class=\"app-summary-list__missing\" ><div class=\"app-summary-list__missing-heading\">No mentor assigned</div><a href=\"#\" class=\"govuk-link--no-visited-state\">Assign a mentor</a></div>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          } if mentor and not teacher.noLongerTraining
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: "<p class=\"govuk-body\"><span class=\"govuk-tag " + tagClass + "\">" + tagText + "</span></p><p class=\"govuk-body\">" + statusText + "</p>"
          }
        },
        {
          key: {
            text: "Lead provider"
          },
          value: {
            html: "Ambition Institute"
          }
        },
        {
          key: {
            text: "Delivery partner"
          },
          value: {
            html: "Bosco LLC"
          }
        },
        {
          key: {
            text: "Appropriate body"
          },
          value: {
            html: "Alban Teaching School Hub"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "contact details"
              }
            ]
          } if not teacher.noLongerTraining
        }

      ]
    }) }}

    {% if not teacher.completedDate and not teacher.noLongerTraining and not teacher.leftSchoolOn %}

      <p class="govuk-body"><a href="/early-career-teachers/{{ teacher.id }}/transfer" class="govuk-link">Report that {{ teacher.name }} is leaving your school or taking a leave of absence</a></p>
    {% endif %}


  </div>
</div>

{% endblock %}
