{% extends "layouts/start.html" %}

{% block pageTitle %}
  Prototype home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Manage training for early career teachers: Prototype home
      </h1>

      <h2 class="govuk-heading-m">14th May 2024</h2>
      <p class="govuk-body-m">Made content changes based to start page, request access to the service journey, and nominate induction tutor journey.</p>
      <p>JIRA: <a href="https://dfedigital.atlassian.net.mcas.ms/browse/CST-2542" target="_blank">changes to request access</a> and <a href="https://dfedigital.atlassian.net.mcas.ms/browse/CST-2543" target="_blank">changes to nominate and change SIT</a>.</p>
      <ul class="govuk-list">
        <li><a href="v2/index">Start page</a></li>
        <li><a href="v2/request-access">Request access to the service</a></li>
        <li><a href="v2/school-claimed-and-nominate/nominate-induction-tutor">Nominate induction tutor</a></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-m">19th April 2024</h2>
      <p class="govuk-body-m">Started creating a prototype journey which goes from requesting access through to homepage. This includes changes to appropriate body options when SIT is registering.</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
      <ul class="govuk-list">
        <li><a href="v1/index">Start page</a></li>
        <li><a href="v1/new-induction-tutor/ab-not-ind-or-bo">SIT registration for 'normal' school with AB changes</a></li>
        <li><a href="v1/new-induction-tutor/ab-ind-school">SIT registration for independent school with AB changes</a></li>
        <li><a href="v1/new-induction-tutor/ab-bo-school">SIT registration for British school overseas with AB changes</a></li>
      </ul>


    </div>

    <div class="govuk-grid-column-one-third">
      <div class="x-govuk-related-navigation">
        <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
          <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
            Other prototypes
          </h2>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="index-2">Previous prototype homepage</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

{% endblock %}
