{% extends "layouts/main.html" %}

{% block pageTitle %}
  Related navigation page template – {{ serviceName }} – GOV.UK Prototype Components
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Education, training and skills",
      href: "#"
    },
    {
      text: "Teaching and leadership",
      href: "#"
    },
    {
      text: "Teacher training and professional development",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-caption-l">Guidance</div>
      <h1 class="govuk-heading-l">
        How to manage induction, training and support for early career teachers (ECTs)
      </h1>

      <p class="govuk-body-l govuk-!-margin-bottom-2">Information on setting up and managing the 2-year induction for ECTs, 
        and the DfE-funded training based on the early career framework (ECF) that’s now part of statutory induction.</p>

    </div>
  </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-s govuk-!-margin-bottom-1">From: <a href="#"><b>Department for Education</b></a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 24 October 2023</p>
      <p class="govuk-body-s govuk-!-margin-bottom-1">Last updated 24 October 2023</p>

    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-body" style="background-color: #f3f2f1; padding: 20px 30px; font-weight: bold;">Applies to England</div>


  <p>Contents</p>
    
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Choose or change the registered induction tutor for your school</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Choose or change how to provide ECF-based training at your school</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Appoint an appropriate body</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Arrange mentoring</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Report your training information to the DfE</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Register ECTs and mentors</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Manage statutory induction and training for ECTs, including non-standard or part time inductions</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Report if something changes for an ECT or mentor</a>
  </li>   
</ul>

<h2 class="govuk-heading-m">Choose or change the registered induction tutor for your school</h2>

<p class="govuk-body">Induction tutors [monitor and support](/observation-and-assessment) your ECTs. They conduct:</p>      

<ul class="govuk-list govuk-list--bullet">
  <li>regular progress reviews</li>
  <li>2 formal assessment meetings with ECTs during the 2-year induction period - one midway through and one at the end</li>
</ul>  

<p class="govuk-body">Read about the roles and responsibilities of induction tutors in <a href="https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" class="govuk-link">section 5 of the statutory guidance on induction for ECTs</a>.</p>

<p class="govuk-body">Your school may have several people performing this role, but only one can be registered to report information to the Department for Education (DfE) using the Manage training for early career teachers service.</p>      
  
<p class="govuk-body">Find out how to [report information to the DfE](/report-to-dfe).</p> 

<h3 class="govuk-heading-s">Who to nominate</h3>

<p class="govuk-body">Choose someone who:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>holds qualified teacher status (QTS)</li>
  <li>can assess an ECT’s progress against the teachers’ standards</li>
</ul>    

<p class="govuk-body">Schools commonly choose someone in a senior leadership position, such as an assistant head.</p> 
      
<p class="govuk-body">Try to choose someone who is not also a mentor. The 2 roles have separate and different responsibilities.</p>

<h3 class="govuk-heading-s">Nominate your first registered induction tutor</h3>      
      
<p class="govuk-body">Use the <a href="https://manage-training-for-early-career-teachers.education.gov.uk/nominations/resend-email" class="govuk-link">Manage training for early career teachers service</a> to do this.</p>
    
<p class="govuk-body">DfE will send an access link to the email address your school provided to the <a href="https://get-information-schools.service.gov.uk/" class="Get Information About Schools (GIAS)"> register.</p>    
    
<h3 class="govuk-heading-s">Change your current registered induction tutor</h3>

<p class="govuk-body">If your current induction tutor is leaving your school, or will no longer be acting as your induction tutor, they should follow these steps.</p>  
      
<ol class="govuk-list govuk-list--number">
  <li>Sign into the [Manage training for early career teachers service](/report-to-dfe) using their registered email address.</li>
  <li>Select the ‘Change’ link next to their name.</li>
  <li>Enter the name and email address of the person who will report information to the DfE instead.</li>
</ol>      
    
<h3 class="govuk-heading-s">If your registered induction tutor has left your school, or cannot access the service</h3> 

<p class="govuk-body">If no one at your school can access the Manage training for early career teachers service to change your registered induction tutor, you can [<a href="https://manage-training-for-early-career-teachers.education.gov.uk/nominations/resend-email" class="request an access link for your school"></a>.</p>       
      

      <h2 class="govuk-heading-m">Choose or change how to provide ECF-based training at your school</h2>

<p class="govuk-body">ECTs are entitled to 2 years of training based on the <a href="https://www.gov.uk/government/publications/early-career-framework" class="early career framework"></a> (ECF).</p>       

<h3 class="govuk-heading-s">Option 1: use a lead provider</h3>

<p class="govuk-body">Lead providers work with delivery partners such as trusts, teaching school hubs and universities to deliver training directly to your ECTs and their mentors.</p>

<p class="govuk-body">This is fully funded by the DfE, so there’s no cost for eligible schools. Learn about <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training" class="funding for training based on the early career framework"></a>.</p>       

<p class="govuk-body">Providers may need to use face to face sessions as part of their training, so contact them to check where they’re based before signing up.</p> 

<p class="govuk-body">To sign up with a lead provider, contact them:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://www.ambition.org.uk/programmes/early-career-teachers/?utm_source=dfe&utm_medium=pr%2Fwebsite&utm_content=NRO+announcement&utm_campaign=ECT-Marketing-2021">Ambition Institute</a></li>
  <li><a class="govuk-link" href="https://www.bestpracticenet.co.uk/early-career-framework">Best Practice Network (home of Outstanding Leaders Partnership)</a></li>
  <li><a class="govuk-link" href="https://www.edt.org/united-kingdom/programmes/early-career-professional-development-programme/">Education Development Trust</a></li>
  <li><a class="govuk-link" href="https://niot.org.uk/programmes/ECF">National Institute of Teaching, founded by the School-Led Development Trust</a></li>
  <li><a class="govuk-link" href="https://www.teachfirst.org.uk/early-career-framework">Teach First</a></li>
  <li><a class="govuk-link" href="https://www.ucl.ac.uk/ioe/departments-and-centres/departments/learning-and-leadership/early-career-framework">UCL Institute of Education </a></li>
</ul>      

<p class="govuk-body">If you choose to use a lead provider, your registered induction tutor will need to report this through the [Manage training for early career teachers](/report-to-dfe) service each academic year. They do not need to tell us which provider your school will work with. Your lead provider is responsible for reporting this to us directly.</p>       

<h3 class="govuk-heading-s">Option 2: deliver your own training using DfE-accredited materials</h3>

<p class="govuk-body">DfE-accredited materials include mentor session guidelines and self-directed study materials.</p> 

<p class="govuk-body">Create a <a href="https://support-for-early-career-teachers.education.gov.uk/users/sign-up" class="Support for early career teachers"></a> account to see what materials are available.</p>       

<p class="govuk-body">You can choose materials from one of the following suppliers:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Ambition Institute</li>
  <li>Education Development Trust</li>
  <li>Teach First</li>
  <li>UCL Early Career Teacher Consortium</li>
</ul>

<p class="govuk-body">If you choose to deliver your own training using DfE-accredited materials, your registered induction tutor will need to report this through the [Manage training for early career teachers](/report-to-dfe) service.</p> 

<p class="govuk-body">Your [appropriate body](/appoint-appropriate-body) will check your programme to make sure it covers the full depth of the early career framework.</p> 

<h3 class="govuk-heading-s">Option 3: design and deliver your own training</h3> 

<p class="govuk-body">You can design and deliver your own 2-year training programme covering every ‘learn that’ and ‘learn how to’ statement in the <a href="https://www.gov.uk/government/publications/early-career-framework" class="early career framework"></a>.</p>       

<p class="govuk-body">You can use DfE-accredited training materials for reference. These include mentor session guidelines and self-directed study materials.</p> 

<p class="govuk-body">Create a <a href="https://support-for-early-career-teachers.education.gov.uk/users/sign-up" class="Support for early career teachers"></a> account to see what materials are available.</p>  

<p class="govuk-body">Talk to your [appropriate body](appoint-appropriate-body) for advice on next steps.</p> 

<p class="govuk-body">Your appropriate body will check your programme to make sure it covers the early career framework.</p>

<p class="govuk-body">Avoid changing your training option part early career framework. way through induction.</p>    


  <h2 class="govuk-heading-m">Appoint an appropriate body </h2>

<p class="govuk-body">ECTs cannot start their induction until you’ve appointed an appropriate body.</p>

<h3 class="govuk-heading-s">What an appropriate body does</h3>

<p class="govuk-body">Appropriate bodies quality assure the induction of ECTs. For example, they:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>check that your ECTs receive their statutory entitlements, such as [mentoring](/mentoring) throughout their 2-year induction period</li>
  <li>make sure [formal assessments](/observation-and-assessment) conducted by your induction tutor are fair and appropriate </li>
</ul>      

<p class="govuk-body">Unless you use a [training provider](/training-options) to deliver your training, your appropriate body will also check that your training covers the full depth of the <a href="https://www.gov.uk/government/publications/early-career-framework" class="early career framework"></a>.</p>       

<p class="govuk-body">Your appropriate body can also give advice if your ECTs are [serving a reduced or part time induction](/observation-and-assessment). They’ll need to agree to any reduction to the induction period.</p>  

<p class="govuk-body">You must provide each ECT with contact information for their appropriate body.</p>

<h3 class="govuk-heading-s">Find an appropriate body</h3>

<p class="govuk-body"><a href="https://www.gov.uk/government/publications/statutory-teacher-induction-appropriate-bodies/find-an-appropriate-body" class="Find an appropriate body"></a> and contact them to appoint them.</p>      

<h3 class="govuk-heading-s">Who you can and cannot appoint</h3>

<p class="govuk-body">You can appoint one appropriate body for all of your ECTs, but you may need or choose to appoint different ones.</p> 
      
<p class="govuk-body">You may have previously used a local authority as an appropriate body. From September 2023, you cannot use a local authority for new inductions, so you’ll need to choose another appropriate body for any new ECTs.</p> 

<p class="govuk-body">If an ECT did their initial teacher training (ITT) through an accredited ITT provider who is also an appropriate body, you cannot appoint that appropriate body for that teacher.</p> 

<p class="govuk-body">ECTs may be serving their induction at an appropriate body. For example, they may work at a teaching school hub that is also an appropriate body. If this is the case, you cannot appoint that appropriate body for that teacher.</p> 

<p class="govuk-body">Learn more about who you can and cannot appoint in section 2 of the <a href="https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" class="statutory guidance on induction for early career teachers"></a>.</p> 


<h2 class="govuk-heading-m">Arrange mentoring</h2>      

<p class="govuk-body">ECTs are entitled to mentor support throughout their 2-year induction period.</p>

<p class="govuk-body">Mentors will only be <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training" class="eligible for funded training and time off timetable"></a> once they’re assigned to an ECT in the DfE service. Find out [how to register and assign mentors](/register-ects-and-mentors).      
      
<h3 class="govuk-heading-s">What mentors do</h3> 

<p class="govuk-body">Mentors make sure that your ECTs receive a high quality induction. They:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>meet regularly with ECTs to provide support and feedback</li>
  <li>take prompt, appropriate action if their ECT is experiencing difficulties</li>
</ul>
    
<p class="govuk-body">If you [use a provider](/training-options#use-a-lead-provider) to deliver your training, mentors may also be asked to observe your ECTs. This is for professional development purposes and must not be used for formal assessment.</p> 

<p class="govuk-body">Read about the role and responsibilities of mentors in <a href="https://www.gov.uk/government/publications/induction-for-early-career-teachers-england" class="section 5 of the statutory guidance on induction for early career teachers"></a>.</p> 

<p class="govuk-body">Share the <a href="https://www.gov.uk/guidance/guidance-for-mentors-how-to-support-ecf-based-training" class="guidance for mentors"></a> to help them understand their role.</p> 

<h3 class="govuk-heading-s">Who to choose as a mentor</h3> 

<p class="govuk-body">Choose mentors who have the skills to provide mentoring for specific phases and subject areas. This will normally be someone who has qualified teacher status (QTS).</p>       
      
<p class="govuk-body">If you choose someone who does not have qualified teacher status, you should check this decision with your [appropriate body](appoint-appropriate-body).</p>

<p class="govuk-body">Try to choose someone who is not also the [induction tutor](/induction-tutor). The 2 roles have separate and different responsibilities.</p>

<h3 class="govuk-heading-s">Manage mentor time</h3>

<p class="govuk-body">Timetable mentor sessions during teaching hours wherever possible. Make sure your mentors have enough time to meet with their ECTs regularly.</p>

<p class="govuk-body">Schools receive <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training" class="funding to cover mentor time off timetable"></a>.</p>       

<h3 class="govuk-heading-s">Mentor training</h3>    

<p class="govuk-body">If you use a training provider to deliver training for your ECTs, mentors will be given 36 hours of training over 2 years.</p> 

<p class="govuk-body">Schools receive funding for 36 hours of mentor time off timetable if mentors attend this training. <a href="https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training" class="Learn more about funding"></a></p>.  
      
<p class="govuk-body">Mentors can only do this training and receive funded time off timetable for this training once. However, they can keep being a mentor as many times as they like.</p>

<p class="govuk-body">Mentors can continue their training even if their ECT leaves your school or withdraws part way through their induction.</p>

<h3 class="govuk-heading-s">Mentor concerns</h3>

<p class="govuk-body">If a mentor has concerns or difficulties, they should contact your school’s induction tutor.</p>

<p class="govuk-body">If a mentor does not have the time or ability to carry out their role effectively, talk to your appropriate body.</p>

      

      
      
    </div>

    <div class="govuk-grid-column-one-third">
      {{ xGovukRelatedNavigation({
        sections: [{
          items: [{
            text: "Related link",
            href: "#"
          }, {
            text: "Related link",
            href: "#"
          }],
          subsections: [{
            title: "Subsection",
            items: [{
              text: "Related link",
              href: "#"
            }]
          }]
        }]
      }) }}
    </div>
  </div>
{% endblock %}
