{% extends "layouts/start.html" %}

{% block pageTitle %}
  Prototype home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Manage training for early career teachers: Prototype home
      </h1>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <h2 class="govuk-heading-m">19th April 2024</h2>
      <p class="govuk-body-m">Started creating a prototype journey which goes from requesting access through to homepage. This includes changes to appropriate body options when SIT is registering.</p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
      <ul class="govuk-list">
        <li><a href="v1/index">Start page</a></li>
        <li><a href="v1/new-induction-tutor/not-ind-or-bo">SIT registration for 'normal' school with AB changes</a></li>
        <li><a href="v1/new-induction-tutor/ind-school">SIT registration for independent school with AB changes</a></li>
        <li><a href="v1/new-induction-tutor/bo-school">SIT registration for British school overseas with AB changes</a></li>
      </ul>


    </div>

    <div class="govuk-grid-column-one-third">
      <div class="x-govuk-related-navigation">
        <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
          <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
            Other prototypes
          </h2>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="index-2">Previous prototype homepage</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

{% endblock %}
