{% extends "layouts/main.html" %}

{% set pageName="Manage mentors and ECTs" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {{ govukButton({ text: "Add ECT or mentor" }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

  <div class="app-filter">
    <form method="get" action="/participants">
      {{ govukRadios({
        name: "show",
        classes: "govuk-radios--small",
        value: (data.show or "training"),
        fieldset: {
          legend: {
            text: "Show",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "training",
            text: "Currently training (9)"
          },
          {
            value: "completed-induction",
            text: "Completed induction (3)"
          },
          {
            value: "no-longer-training",
            text: "No longer training (2)"
          }
        ]
      }) }}

      {{ govukButton({ text: "Apply filter", classes: "govuk-button--secondary" }) }}
    </form>
  </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    {% if data.show == "completed-induction" %}
      {% include "_completed-induction.html" %}
    {% elseif data.show == "no-longer-training" %}
      {% include "_no-longer-training.html" %}
    {% else %}
      {% include "_currently-training.html" %}
    {% endif %}

  </div>
</div>

{% endblock %}
