{% extends "layouts/main.html" %}

{% set pageName="Sign in" %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({href: "/sign-in"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/check-your-phone" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Enter your password",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "password",
        name: "password",
        type: "password",
        classes: "govuk-input--width-20",
        spellcheck: false
      }) }}

      {{ govukButton({ text: "Continue"}) }}

    </form>

    <p class="govuk-body"><a href="#" class="govuk-link">I’ve forgotten my password</a></p>


  </div>
</div>

{% endblock %}
