{% extends "layouts/main.html" %}

{% set pageName="What’s the name of your school?" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/local-authority"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/confirm-school" method="post">

      {{ govukInput({
        name: "schoolName",
        value: data.schoolName,
        label: {
          text: pageName,
          classes: "govuk-label--l",
          isPageHeading: true
        }

      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>

{% endblock %}
