{% extends "layouts/main.html" %}

{% set signedOut = true %}
{% set pageName="Sign in" %}

{% block beforeContent %}
  {{ govukBackLink({href: "/"}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <form action="/check-email" method="post" novalidate>


      {{ govukInput({
        id: "[sit][emailAddress]",
        name: "[sit][emailAddress]",
        label: {
          text: "Email address",
          isPageHeading: false,
          classes: "govuk-label--s"
        },
        value: data.sit.emailAddress
      }) }}

      {{ govukButton({ text: "Sign in"}) }}

    </form>

    <p class="govuk-body">Or <a class="govuk-link govuk-link--no-visited-state" href="/request-access">request access to the service</a>
    </p>

  </div>
</div>

{% endblock %}
