{% extends "layouts/main.html" %}

{% set pageName="Why has " + teacher.name + " left the school?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/early-career-teachers/" + teacher.id
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>

    <form action="/early-career-teachers/{{ teacher.id }}/transfer-reason" method="post">
      {{ govukRadios({
        name: "transferReason",
        fieldset: {
          legend: {
            text: pageName,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "england-transfer",
            text: "They have transferred to another school in England to continue their induction"
          },
          {
            value: "transfer-outside-england",
            text: "They have transferred to a school outside of England"
          },
          {
            value: "left-teaching",
            text: "They have left teaching"
          }
        ]

      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>

{% endblock %}
