{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/early-career-teachers/" + teacher.id + "/transfer-reason"
  }) }}
{% endblock %}

{% set pageName = "Is " + teacher.name + " moving to another school in England?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Plymouth Primary School</span>

    {% set schoolNameConditional %}

      {{ xGovukAutocomplete({
        id: "school",
        name: "school",
        allowEmpty: false,
        autocomplete: "off",
        selected: data.school,
        label: {
          classes: "govuk-label--s",
          text: "Which school are they moving to?"
        },
        items: [
          { text: "Adisham CE Primary School"},
          { text: "Aldington Primary School"},
          { text: "All Souls' CE Primary School"},
          { text: "Allington Primary School"},
          { text: "Amherst School"},
          { text: "The Anthony Roper Primary School"},
          { text: "Archbishop Courtenay Primary School"},
          { text: "Ash Cartwright and Kelsey CE Primary School"},
          { text: "Ashford Oaks Community Primary School"},
          { text: "Ashford St Mary's CE Primary School"},
          { text: "Aycliffe Community Primary School"},
          { text: "Aylesham Primary School"},
          { text: "Bapchild and Tonge CE Primary School"},
          { text: "Barham CE Primary School"},
          { text: "Barming Primary School"},
          { text: "Barton Junior School"},
          { text: "Bean Primary School"},
          { text: "Bearsted Primary Academy"},
          { text: "Beaver Green Primary School"},
          { text: "Benenden CE Primary School"},
          { text: "Bethersden Primary School"},
          { text: "Bidborough CE Primary School"},
          { text: "Birchington CE Primary School"},
          { text: "Bishop Chavasse Primary School"},
          { text: "Bishops Down Primary School"},
          { text: "Blean Primary School"},
          { text: "Bobbing Village School"},
          { text: "Bodsham CE Primary School"},
          { text: "Borden CE Primary School"},
          { text: "Borough Green Primary School"},
          { text: "Boughton Monchelsea Primary School"},
          { text: "Boughton-under-Blean and Dunkirk Primary School"},
          { text: "Brabourne CE Primary School"},
          { text: "Bredgar CE Primary School"},
          { text: "Bredhurst CE Primary School"},
          { text: "Brenchley and Matfield CE Primary School"},
          { text: "The Brent Primary School"},
          { text: "Brenzett CE Primary School"},
          { text: "Briary Primary School"},
          { text: "Bridge and Patrixbourne CE Primary School"},
          { text: "Broadwater Down Primary School"},
          { text: "Bromstone Primary School"},
          { text: "Brook Community Primary School"},
          { text: "Brookfield Infant School"},
          { text: "Brookfield Junior School"},
          { text: "Brookland CE Primary School"},
          { text: "Brunswick House Primary School"},
          { text: "Burham CE Primary School"},
          { text: "Bysing Wood Primary School"},
          { text: "Cage Green Primary School"},
          { text: "Callis Grange Nursery and Infant School"},
          { text: "The Canterbury Primary School"},
          { text: "Canterbury Road Primary School"},
          { text: "Capel Primary School"},
          { text: "Capel-le-Ferne Primary School"},
          { text: "Castle Hill Community Primary School"},
          { text: "Cecil Road Primary and Nursery School"},
          { text: "Challock Primary School"},
          { text: "Chantry Community Academy"},
          { text: "Charing Primary School"},
          { text: "Charlton CE Primary School"},
          { text: "Chartham Primary School"},
          { text: "Cheriton Primary School"},
          { text: "Cherry Orchard Primary Academy"},
          { text: "Chevening St Botolph's CE Primary School"},
          { text: "Chiddingstone CE School"},
          { text: "Chilham St Mary's CE Primary School"},
          { text: "Chilmington Green Primary School"},
          { text: "Chilton Primary School"},
          { text: "Chislet CE Primary School"},
          { text: "Christ Church CE Junior School"},
          { text: "Christ Church CE Primary Academy"},
          { text: "Churchill CE Primary School"},
          { text: "The Churchill School"},
          { text: "Claremont Primary School"},
          { text: "Cliftonville Primary School"},
          { text: "Cobham Primary School"},
          { text: "Colliers Green CE Primary School"},
          { text: "Copperfield Academy"},
          { text: "Coxheath Primary School"},
          { text: "Cranbrook CE Primary School"},
          { text: "The Craylands School"},
          { text: "Crockenhill Primary School"},
          { text: "Crockham Hill CE Primary School"},
          { text: "Culverstone Green Primary School"},
          { text: "Dame Janet Primary Academy"},
          { text: "Dartford Bridge Community Primary School"},
          { text: "Dartford Primary Academy"},
          { text: "Davington Primary School"},
          { text: "Deal Parochial CE Primary School"},
          { text: "The Discovery School"},
          { text: "Ditton CE Junior School"},
          { text: "Ditton Infant School"},
          { text: "Doddington Primary School"},
          { text: "Dover St Mary's CE Primary School"},
          { text: "The Downs CE Primary School"},
          { text: "Downs View Infant School"},
          { text: "Downsview Community Primary School"},
          { text: "Drapers Mills Primary Academy"},
          { text: "Dunton Green Primary School"},
          { text: "Dymchurch Primary School"},
          { text: "East Farleigh Primary School"},
          { text: "East Peckham Primary School"},
          { text: "East Stour Primary School"},
          { text: "Eastchurch CE Primary School"},
          { text: "Eastling Primary School"},
          { text: "Eastry CE Primary School"},
          { text: "Ebbsfleet Green Primary School"},
          { text: "Edenbridge Primary School"},
          { text: "Egerton CE Primary School"},
          { text: "Elham CE Primary School"},
          { text: "Ellington Infant School"},
          { text: "Ethelbert Road Primary School"},
          { text: "Eythorne Elvington Primary School"},
          { text: "Fawkham CE Primary School"},
          { text: "Finberry Primary School"},
          { text: "Fleetdown Primary Academy"},
          { text: "Folkestone Primary"},
          { text: "Folkestone St Martin's CE Primary School"},
          { text: "Folkestone St Mary's CE Primary Academy"},
          { text: "Folkestone St Peter's CE Primary School"},
          { text: "Fordcombe CE Primary School"},
          { text: "Four Elms Primary School"},
          { text: "Frittenden CE Primary School"},
          { text: "Furley Park Primary School"},
          { text: "Garlinge Primary School"},
          { text: "The Gateway Primary Academy"},
          { text: "Goat Lees Primary School"},
          { text: "Godinton Primary School"},
          { text: "Goodnestone CE Primary School"},
          { text: "Goudhurst and Kilndown CE Primary School"},
          { text: "Graveney Primary School"},
          { text: "Great Chart Primary School"},
          { text: "Greatstone Primary School"},
          { text: "Green Park Community Primary School"},
          { text: "Greenfields Community Primary School"},
          { text: "Greenlands Primary School"},
          { text: "Grove Park Primary School"},
          { text: "Guston CE Primary School"},
          { text: "Hadlow Primary School"},
          { text: "Halfway Houses Primary School"},
          { text: "Halstead Community Primary School"},
          { text: "Hampton Primary School"},
          { text: "Hamstreet Primary Academy"},
          { text: "Harcourt Primary School"},
          { text: "Harrietsham CE Primary School"},
          { text: "Hartley Primary Academy"},
          { text: "Hartlip CE Primary School"},
          { text: "Hawkhurst CE Primary School"},
          { text: "Hawkinge Primary School"},
          { text: "Headcorn Primary School"},
          { text: "Herne Bay Infant School"},
          { text: "Herne Bay Junior School"},
          { text: "Herne CE Infant School"},
          { text: "Herne CE Junior School"},
          { text: "Hernhill CE Primary School"},
          { text: "Hever CE Primary School"},
          { text: "Hextable Primary School"},
          { text: "High Firs Primary School"},
          { text: "High Halden CE Primary School"},
          { text: "Higham Primary School"},
          { text: "Hildenborough CE Primary School"},
          { text: "Hoath Primary School"},
          { text: "Hollingbourne Primary School"},
          { text: "The Holy Family RC Primary School"},
          { text: "Holy Trinity CE Primary School"},
          { text: "Holy Trinity CE Primary School"},
          { text: "Holywell Primary School"},
          { text: "Horizon Primary Academy"},
          { text: "Hornbeam Primary School"},
          { text: "Horsmonden Primary Academy"},
          { text: "Horton Kirby CE Primary School"},
          { text: "Hunton CE Primary School"},
          { text: "Hythe Bay CE Primary School"},
          { text: "Ide Hill CE Primary School"},
          { text: "Ightham Primary School"},
          { text: "Istead Rise Primary School"},
          { text: "Iwade School"},
          { text: "John Mayne CE Primary School"},
          { text: "John Wallis Academy"},
          { text: "The John Wesley CE/Methodist Primary School"},
          { text: "Joy Lane Primary School"},
          { text: "Joydens Wood Infant School"},
          { text: "Joydens Wood Junior School"},
          { text: "Jubilee Primary School"},
          { text: "Kemsing Primary School"},
          { text: "Kemsley Primary Academy"},
          { text: "Kennington CE Academy"},
          { text: "Kings Farm Primary School"},
          { text: "Kings Hill Primary School"},
          { text: "Kingsdown and Ringwould CE Primary School"},
          { text: "Kingsnorth CE Primary School"},
          { text: "Kingswood Primary School"},
          { text: "Knockhall Primary School"},
          { text: "Laddingford St Mary's CE Primary School"},
          { text: "Lady Boswell's CE Primary School"},
          { text: "Lady Joanna Thornhill Endowed Primary School"},
          { text: "Lamberhurst St Mary's CE Primary School"},
          { text: "Langafel CE Primary School"},
          { text: "Langdon Primary School"},
          { text: "Langley Park Primary Academy"},
          { text: "Langton Green Primary School"},
          { text: "Lansdowne Primary School"},
          { text: "Lawn Primary School"},
          { text: "Leeds and Broomfield CE Primary School"},
          { text: "Leigh Primary School"},
          { text: "Lenham Primary School"},
          { text: "Leybourne St Peter and St Paul CE Primary Academy"},
          { text: "Littlebourne CE Primary School"},
          { text: "Long Mead Community Primary School"},
          { text: "Loose Primary School"},
          { text: "Lower Halstow Primary School"},
          { text: "Luddenham School"},
          { text: "Lunsford Primary School"},
          { text: "Lydd Primary School"},
          { text: "Lydden Primary School"},
          { text: "Lyminge CE Primary School"},
          { text: "Lympne CE Primary School"},
          { text: "Lynsted and Norton Primary School"},
          { text: "Madginford Primary School"},
          { text: "Maidstone St John's CE Primary School"},
          { text: "Maidstone St Michael's CE Junior School"},
          { text: "Manor Community Primary School"},
          { text: "Marden Primary Academy"},
          { text: "Margate Holy Trinity and St John's CE Primary School"},
          { text: "Martello Primary"},
          { text: "Maypole Primary School"},
          { text: "Meopham Community Academy"},
          { text: "Mereworth Community Primary School"},
          { text: "Mersham Primary School"},
          { text: "Milstead and Frinsted CE Primary School"},
          { text: "Milton Court Primary Academy"},
          { text: "Minster CE Primary School"},
          { text: "Minster-in-Sheppey Primary School"},
          { text: "Minterne Junior School"},
          { text: "Molehill Primary Academy"},
          { text: "Monkton CE Primary School"},
          { text: "More Park RC Primary School"},
          { text: "Morehall Primary School"},
          { text: "Mundella Primary School"},
          { text: "New Ash Green Primary School"},
          { text: "Newington CE Primary School"},
          { text: "Newington Community Primary School"},
          { text: "Newlands Primary School"},
          { text: "Nonington CE Primary School"},
          { text: "North Borough Junior School"},
          { text: "Northbourne CE Primary School"},
          { text: "Northdown Primary School"},
          { text: "Oakfield Primary Academy"},
          { text: "The Oaks Infant School"},
          { text: "Oaks Primary Academy"},
          { text: "Offham Primary School"},
          { text: "Ospringe CE Primary School"},
          { text: "Otford Primary School"},
          { text: "Our Lady of Hartley RC Primary School"},
          { text: "Our Lady's RC Primary School"},
          { text: "Paddock Wood Primary Academy"},
          { text: "Painters Ash Primary School"},
          { text: "Palace Wood Primary School"},
          { text: "Palm Bay Primary School"},
          { text: "Palmarsh Primary School"},
          { text: "Park Way Primary School"},
          { text: "Parkside Community Primary School"},
          { text: "Pembury School"},
          { text: "Penshurst CE Primary School"},
          { text: "Petham Primary School"},
          { text: "Phoenix Community Primary School"},
          { text: "Pilgrims' Way Primary School"},
          { text: "Platt CE Primary School"},
          { text: "Platts Heath Primary School"},
          { text: "Plaxtol Primary School"},
          { text: "Pluckley CE Primary School"},
          { text: "Preston Primary School"},
          { text: "Priory Fields School"},
          { text: "Priory Infant School"},
          { text: "Queenborough School"},
          { text: "Ramsgate Arts Primary School"},
          { text: "Ramsgate Holy Trinity CE Primary School"},
          { text: "Reculver CE Primary School"},
          { text: "Regis Manor Primary School"},
          { text: "Repton Manor Primary School"},
          { text: "Richmond Academy"},
          { text: "River Mill Primary School"},
          { text: "River Primary School"},
          { text: "Riverhead Infants' School"},
          { text: "Riverview Infant School"},
          { text: "Riverview Junior School"},
          { text: "Rodmersham School"},
          { text: "Rolvenden Primary School"},
          { text: "Rose Street Primary School"},
          { text: "Roseacre Junior School"},
          { text: "Rosherville CE Academy"},
          { text: "Royal Rise Primary School"},
          { text: "Rusthall St Paul's CE Primary School"},
          { text: "Ryarsh Primary School"},
          { text: "St Alphege CE Primary School"},
          { text: "St Anselm's RC Primary School"},
          { text: "St Augustine's RC Primary School"},
          { text: "St Augustine's RC Primary School"},
          { text: "St Barnabas CE Primary School"},
          { text: "St Bartholomew's RC Primary School"},
          { text: "St Botolph's CE Primary School"},
          { text: "St Clement's CE Primary School"},
          { text: "St Crispin's Infant School"},
          { text: "St Eanswythe's CE Primary School"},
          { text: "St Edward's RC Primary School"},
          { text: "St Ethelbert's RC Primary School"},
          { text: "St Francis' RC Primary School"},
          { text: "St George's CE Foundation School"},
          { text: "St George's CE Primary School"},
          { text: "St George's CE Primary School"},
          { text: "St George's CE School"},
          { text: "St Gregory's RC Primary School"},
          { text: "St James' CE Primary School"},
          { text: "St James the Great Academy"},
          { text: "St John's CE Primary School"},
          { text: "St John's CE Primary School"},
          { text: "St John's CE Primary School"},
          { text: "St John's RC Primary School"},
          { text: "St Joseph's RC Primary School"},
          { text: "St Joseph's RC Primary School"},
          { text: "St Joseph's RC Primary School"},
          { text: "St Katharine's CE Primary School"},
          { text: "St Katherine's School"},
          { text: "St Laurence in Thanet CE Junior School"},
          { text: "St Lawrence CE Primary School"},
          { text: "St Luke's CofE Infant School"},
          { text: "St Margaret Clitherow RC Primary School"},
          { text: "St Margaret's CE School"},
          { text: "St Margaret's-at-Cliffe Primary School"},
          { text: "St Mark's CE Primary School"},
          { text: "St Mark's CE Primary School"},
          { text: "St Martin's School"},
          { text: "St Mary of Charity CE Primary School"},
          { text: "St Mary's CE Primary School"},
          { text: "St Mary's RC Primary School"},
          { text: "St Mary's RC Primary School"},
          { text: "St Matthew's CE Primary School"},
          { text: "St Michael's CE Infant School"},
          { text: "St Michael's CE Primary School"},
          { text: "St Mildred's Infant School"},
          { text: "St Nicholas at Wade CE Primary School"},
          { text: "St Nicholas CE Primary School"},
          { text: "St Pauls' CE Primary School"},
          { text: "St Paul's Infant School"},
          { text: "St Peter-in-Thanet CE Junior School"},
          { text: "St Peter's CE Primary School"},
          { text: "St Peter's CE Primary School"},
          { text: "St Peter's Methodist Primary School"},
          { text: "St Peter's RC Primary School"},
          { text: "St Richard's RC Primary School"},
          { text: "St Saviour's CE Junior School"},
          { text: "St Simon of England C Primary school"},
          { text: "St Stephen's Infant School"},
          { text: "St Stephen's Junior School"},
          { text: "St Stephen's Primary School"},
          { text: "St Teresa's RC Primary School"},
          { text: "St Thomas' RC Primary School"},
          { text: "St Thomas' RC Primary School"},
          { text: "Salmestone Primary School"},
          { text: "Saltwood CE Primary School"},
          { text: "Sandgate Primary School"},
          { text: "Sandhurst Primary School"},
          { text: "Sandling Primary School"},
          { text: "Sandown Primary School"},
          { text: "Sandwich Infant School"},
          { text: "Sandwich Junior School"},
          { text: "Seabrook CE Primary School"},
          { text: "Seal CE Primary School"},
          { text: "Sedley's CE Primary School"},
          { text: "Sellindge Primary School"},
          { text: "Selling CE Primary School"},
          { text: "Selsted CE Primary School"},
          { text: "Senacre Wood Primary School"},
          { text: "Sevenoaks Primary School"},
          { text: "Shatterlocks Infant School"},
          { text: "Shears Green Infant School"},
          { text: "Shears Green Junior School"},
          { text: "Sheldwich Primary School"},
          { text: "Shipbourne School"},
          { text: "Sholden CE Primary School"},
          { text: "Shoreham Village School"},
          { text: "Shorne CE Primary School"},
          { text: "Sibertswold CE Primary School"},
          { text: "Singlewell Primary School"},
          { text: "Sissinghurst CE Primary School"},
          { text: "Skinners' Kent Primary School"},
          { text: "Slade Primary School"},
          { text: "Smarden Primary School"},
          { text: "Smeeth Community Primary School"},
          { text: "Snodland CE Primary School"},
          { text: "South Avenue Primary School"},
          { text: "South Borough Primary School"},
          { text: "Southborough CE Primary School"},
          { text: "Speldhurst CE Primary School"},
          { text: "Springhead Park Primary School"},
          { text: "Staplehurst School"},
          { text: "Stella Maris RC Primary School"},
          { text: "Stelling Minnis CE Primary School"},
          { text: "Stocks Green Primary School"},
          { text: "Stone St Mary's CE Primary School"},
          { text: "Stowting CE Primary School"},
          { text: "Sturry CE Primary School"},
          { text: "Sundridge and Brasted CE Primary School"},
          { text: "Sunny Bank Primary School"},
          { text: "Sussex Road Community Primary School"},
          { text: "Sutton Valence Primary School"},
          { text: "Sutton-at-Hone CE Primary School"},
          { text: "Swalecliffe Community Primary School"},
          { text: "Temple Ewell CE Primary School"},
          { text: "Temple Grove Academy"},
          { text: "Temple Hill Primary Academy"},
          { text: "Tenterden CE Junior School"},
          { text: "Tenterden Infant School"},
          { text: "Teynham Parochial CE Primary School"},
          { text: "Thistle Hill Academy"},
          { text: "Thurnham CE Infant School"},
          { text: "Tiger Primary School"},
          { text: "Tree Tops Primary Academy"},
          { text: "Trottiscliffe CE Primary School"},
          { text: "Tunbury Primary School"},
          { text: "Tunstall CE Primary School"},
          { text: "Tymberwood Academy"},
          { text: "Ulcombe CE Primary School"},
          { text: "Upton Junior School"},
          { text: "Vale View Community School"},
          { text: "Valley Invicta Primary School"},
          { text: "Valley Invicta Primary School"},
          { text: "Valley Invicta Primary School"},
          { text: "Valley Invicta Primary School"},
          { text: "Valley Invicta Primary School"},
          { text: "Victoria Road Primary School"},
          { text: "Vigo Village School"},
          { text: "Warden House Primary School"},
          { text: "Water Meadows Primary School"},
          { text: "Wateringbury CE Primary School"},
          { text: "Weald Community Primary School"},
          { text: "The Wells Free School"},
          { text: "Wentworth Primary School"},
          { text: "West Borough Primary School"},
          { text: "West Hill Primary Academy"},
          { text: "West Kingsdown CE Primary School"},
          { text: "West Malling CE Primary School"},
          { text: "West Minster Primary School"},
          { text: "Westcourt Primary School"},
          { text: "Westgate Primary School"},
          { text: "Westlands Primary School"},
          { text: "Westmeads Community Infant School"},
          { text: "White Cliffs Primary School"},
          { text: "White Oak Primary School"},
          { text: "Whitehill Primary School"},
          { text: "Whitfield Aspen School"},
          { text: "Whitstable and Seasalter CE Junior School"},
          { text: "Whitstable Junior School"},
          { text: "Wickhambreaux CE Primary School"},
          { text: "Willesborough Infant School"},
          { text: "Willesborough Junior School"},
          { text: "Wilmington Primary School"},
          { text: "Wincheap Primary School"},
          { text: "Wingham Primary School"},
          { text: "Wittersham CE Primary School"},
          { text: "Woodchurch CE Primary School"},
          { text: "Woodlands Primary School"},
          { text: "Worth Primary School"},
          { text: "Wouldham All Saints CE Primary School"},
          { text: "Wrotham Road Primary School"},
          { text: "Yalding St Peter and St Paul CE Primary School"}
        ]
      }) }}

    {% endset %}

    <form action="/early-career-teachers/{{ teacher.id }}/transfer-check" method="post">
      {{ govukRadios({
        name: "movingToAnotherSchool",
        value: data.movingToAnotherSchool,
        fieldset: {
          legend: {
            text: pageName,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: schoolNameConditional
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            divider: "or"
          },
          {
            value: "dontknow",
            text: "I don’t know"
          }
        ]

      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>

{% endblock %}
