{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Manage mentors and ECTs",
        href: "/participants?show=training"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    {{ govukPanel({
      titleText: "Transfer confirmed",
      classes: "govuk-!-margin-bottom-7"
    }) }}

    <p class="govuk-body">You’ve confirmed that  {{ teacher.name }} is leaving St Mary’s Primary School on <span style="white-space: nowrap;">{{ data.transferDate | isoDateFromDateInput | govukDate }}</span>.</p>


    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We’ll tell {{ teacher.name }} that you’ve reported their transfer.</p>

    <p class="govuk-body">They should continue their training until they leave.
    Their new school will arrange how they’ll continue their training.</p>

    <p class="govuk-body">You should report this transfer to:</p>

    <ol class="govuk-list govuk-list--bullet">
      <li>Alban Teaching School Hub</li>
      <li>Ambition Institute</li>
    </ol>

      <p class="govuk-body">{{ teacher.name }}’s mentor can continue their mentor training, even if they do not have another ECT assigned to them yet.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link govuk-link--no-visited-state" href="/participants?show=training">View your ECTs and mentors</a></p>

  </div>
</div>

{% endblock %}
