{% extends "layouts/signed-in-home.html" %}

{% set title="You need to contact your current and new lead provider" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">If you want to <a href="https://www.gov.uk/guidance/how-to-manage-early-career-teacher-training#change-lead-provider" target="_blank" class="govuk-link govuk-link--no-visited-state">change your lead provider (opens in a new window or tab)</a> you need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>contact your current provider to let them know you want to end the partnership</li>
      <li>sign up with your new lead provider</li>
    </ul>

<p class="govuk-body">Your new provider will then report the change to us.</p>

<p class="govuk-body"><a href="../../home" class="govuk-link">Return to manage your training</a></p>
  </div>
</div>


{% endblock %}


