{% extends "layouts/signed-in-home.html" %}

{% set title="Request a change to a delivery partner for academic year 2024-2025" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">You need to check that the new delivery partner:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>can work with your current lead provider</li>
      <li>has the capacity to work with your school</li>
    </ul>
    <p class="govuk-body">You should also contact your current lead provider and delivery partner before we can make a change.</p>
    
    {{ govukInsetText({
      text: "We’ll confirm the changes with providers and update this service as soon as possible. This may take a few weeks."
    }) }}
    <form method="post">
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
</div>      


{% endblock %}


