{% extends "layouts/signed-in-home.html" %}

{% set title="You need to contact your current and new training providers" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <p class="govuk-body">If you haven't done so already you need to contact and agree the change with your current and new training providers.</p>
    <p class="govuk-body">Some lead providers prefer schools to contact the delivery partner first.</p>

    <p class="govuk-body"><a href="../home" class="govuk-link">Return to manage your training</a></p>
  </div>
</div>    

{% endblock %}


