{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set containerClasses = "app-width-container--wide" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border app-header--wide",
    navigation: [
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}

  {{ xGovukPrimaryNavigation({
    classes: "app-primary-navigation--wide",
    visuallyHiddenTitle: "Navigation",
    items: [{
      text: "Performance",
      href: "/admin/overview",
      current: (currentSection == "performance")
    }, {
      text: "Schools",
      href: "/admin/schoolslist",
      current: (currentSection == "schools")
    }, {
      text: "ECTs",
      href: "/admin/ects",
      current: (currentSection == "ects")
    }, {
      text: "Mentors",
      href: "/admin/mentors"
    }, {
      text: "Providers",
      href: "/admin/suppliers"
    }, {
      text: "ABs",
      href: "/admin/appropriate-bodies"
    }, {
      text: "Admin users",
      href: "/admin/admin-users"
    }]
  }) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var AppFrontend = {}
  </script>
  <script src="/public/javascripts/components/filter-toggle-button.js"></script>
{% endblock %}

