{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    classes: "app-header--full-width-blue-border"
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>

  {{ xGovukPrimaryNavigation({
    classes: "app-primary-navigation--smaller-borders",
    visuallyHiddenTitle: "Navigation",
    items: [{
      text: "Early career teachers",
      href: "/participants",
      current: (currentSection != "mentors")
    }, {
      text: "Mentors",
      href: "/mentors",
      current: (currentSection == "mentors")
    }]
  }) }}
{% endblock %}
