{% extends "layouts/reg.html" %}

{% set title %}
{{ data['full-name'] or 'John Doe' }} has been added as an ECT
{% endset %}

{% block pageTitle %}
  {{ title }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
      <h1 class="govuk-panel__title">{{ title }}</h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      We’ll let this person know you’ve registered them for ECF-based training at your school.
      They do not need to provide us with any more information.
    </p>

    <h2 class="govuk-heading-m">Eligibility for funding</h2>
    <p>Our checks have confirmed this person is eligible for funded training, and time off timetable for training and mentoring.</p>

    <p><a class="govuk-link govuk-link--no-visited-state" href="#">View your ECTs</a></p>
  </div>
</div>
{% endblock %}