{% extends "layouts/reg.html" %}

{% set title %}
What’s {{ data['full-name'] or 'John Doe' }}'s email address?
{% endset %}

{% block pageTitle %}
  {{ title }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form accept-charset="UTF-8" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label for="add-participant-wizard-email-field" class="govuk-label govuk-label--l">
            <span class="govuk-caption-l">School name here</span>
          {{title}}
          </label>
        </h1>

        <div id="add-participant-wizard-email-supplemental">
          <p class="govuk-body govuk-!-margin-top-7">You can enter their personal or school email address.</p>
        </div>
        <input id="add-participant-wizard-email-field" class="govuk-input govuk-!-width-two-thirds" aria-describedby="add-participant-wizard-email-supplemental" type="text" name="email">
      </div>

      <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Continue</button>
    </form>
  </div>
</div>
{% endblock %}